[2019-06-05 07:45] barteksekula opened #2 "Load pins for external reviewers"

[2019-06-05 07:45] barteksekula opened #3 "Production build & nuget"

[2019-06-05 07:50] barteksekula opened #4 "UI Slding panel enhancements"
- [x] Mark Important ones in a different color or icon
- [x] Display first comment with comment author
- [x] When start adding new comment should not be possible to change review
- [x] Add title for list of reviews
- [x] “Review panel” should have header style
- [x] Add header for filters
- [x] change cursor style to pointer on list item
- [x] Add header for filters
- [x] change cursor style to po

[2019-06-05 07:52] barteksekula opened #5 "Add "Visible to" option"

[2019-06-05 07:55] barteksekula opened #6 "Localize external review Edit Mode component"

[2019-06-05 07:57] barteksekula opened #7 "Save information about email recipient"
When sending email we should know who was send the email.

[2019-06-05 07:58] barteksekula opened #8 "Store language for external links"
- [ ] When creating new external link it should be saved with content language
- [ ] When displaying list of links it should contains information about the language

[2019-06-05 08:00] barteksekula opened #9 "communicationinjector.js issue"
For external reviewers communicationinjector.js returns login page

[2019-06-05 08:01] barteksekula opened #10 "Track Content Area items by content link"
We should be able to support comments directed to a specific content area item, not the whole property as it may contain a lot of items, layout blocks etc.

First task is to read the content link from the rendered DOM element and store it in DDS.

[2019-06-05 08:01] barteksekula opened #11 "Store information about who saw the shared link"

[2019-06-05 09:14] #4 closed

[2019-06-05 10:57] barteksekula opened #14 "Move Avatar route registration to Core"

[2019-06-05 10:59] barteksekula opened #16 "Add common version info"
Each dll should use the same version number.

[2019-06-05 11:02] #14 closed

[2019-06-05 11:12] #16 closed

[2019-06-05 11:14] #2 closed

[2019-06-05 11:18] barteksekula opened #19 "Unread --> active does not work"
The transition is not reflected in the Pins list.

[2019-06-05 18:19] barteksekula opened #20 "Start the sliding panel in the narrow mode"

[2019-06-05 20:05] #20 closed

[2019-06-05 21:18] #3 closed

[2019-06-06 13:01] #19 closed

[2019-06-06 14:38] barteksekula opened #23 "Maintain pin position"
We need to store more data to be able to handle scenarios where editor & reviewer have different screen resolutions.

[2019-06-07 07:40] gregwiechec opened #25 "Add chip with property name on details view"

[2019-06-07 07:41] gregwiechec opened #26 "Restyle closed tasks details view"
![image](https://user-images.githubusercontent.com/12434079/59088628-5298cc80-8908-11e9-8c11-6334c1e6f14a.png)

[2019-06-07 08:11] gregwiechec opened #29 "Show property display name for external reviewers"
For now it works only in edit mode

[2019-06-07 08:24] #23 closed

[2019-06-07 19:57] barteksekula commented on #10
We already store the needed coordinates and dimensions. Now it's just a matter of using them in https://github.com/episerver-addons/advanced-reviews/blob/master/src/ui/position-calculator/position-calculator.ts

[2019-06-10 07:56] barteksekula opened #34 "Better screenshot default crop"
If the new pin is added outside of any property we should first navigate XY to the clicked point and then try to calculate the dimensions of the default crop rect.

[2019-06-11 09:01] gregwiechec opened #39 "Add Swedish translation"

[2019-06-11 10:45] #39 closed

[2019-06-12 00:50] javafun opened #41 "Build script doesn't seem working locally"
I followed the README instruction to build the solution locally and received the following errors

![image](https://user-images.githubusercontent.com/332991/59316018-b4d64080-8cff-11e9-9ade-97d12adcb333.png)

[2019-06-12 06:09] barteksekula commented on #41
They seem to have unpublished ts-loader@5.4.6
https://github.com/TypeStrong/ts-loader/issues/929

We will update it today.

[2019-06-12 06:19] #41 closed

[2019-06-12 08:20] #6 closed

[2019-06-12 13:28] gregwiechec opened #42 "Add links for projects"
It should be possible to generate external review link for project.

[2019-06-12 13:45] gregwiechec opened #44 "Allow to delete pins"
When there are no other user comments then it should be possible to delete a pin

[2019-06-12 13:47] barteksekula opened #45 "Add "Finalize" button"
Right now, with the auto-save, there is no real "I'm done" button that could potentially send a notification or something to the person that requested the review.

[2019-06-12 13:49] gregwiechec opened #46 "Add global limit for data added by external reviewer"
It will increase the security.

There should be:
* max pin numbers added by external reviewer
* max comments in pin added by external reviewer
* max text length added by external reviewer

[2019-06-18 14:02] AThraen opened #47 "Language is part of urls generated - even for non globalized site"
I get urls like this: https://localhost:44381/en/externalContentView/9a29f47a-026e-4fe6-86db-8437d2592d4e but my site is not globalized and does not use '/en/'.

[2019-06-20 09:55] gregwiechec opened #48 "IsInExternalReviewContext should check if HttpContext.Current is null"

[2019-06-20 09:57] gregwiechec commented on #48
"The module listens to the EPiServer.Web.TemplateResolver.OnTemplateResolved event and in case HttpContext.Current is null, for instance when indexing through Episerver Find,it will throw an exceptions. You should handle the case that  HttpContext.Current being null to fix this."

[2019-06-20 10:06] AThraen opened #49 "Add QR Code to review widget links"
To make it easy to view the content on a real mobile device, add a QR code to the links. For example through a QR icon that opens a new window with the code.
If a free QR code generator is needed, I made one here: https://contentservices.io/v1/qr/url/?url=https://www.episerver.com  that you are welcome to use.

[2019-06-23 10:36] #34 closed

[2019-07-01 19:17] #48 closed

[2019-07-01 19:20] #25 closed

[2019-07-02 04:59] karorapepper opened #53 "404 error on using editable link"
Hi,

Thanks for creating this very useful addon.
However I am getting 404 error on loading the Editable External Review link. I am able to use rest of the features fine. The view only link works well too (although it adds an additional /en before /externalContentView resulting in 404 as well but was able to get around that by adding redirect to remove /en) but edit link keeps giving 404 error. Can

[2019-07-02 05:08] karorapepper commented on #47
Just a workaround (if it helps anyone) until next release, is to add a redirect (using Redirect Manager on Dashboard) to redirect any /en/externalContentView/ to /externalContentView/

[2019-07-02 06:41] barteksekula commented on #47
@karorapepper Thanks a lot of your comment.
We are about to release a new milestone 0.2.0 that will fix that issue.

[2019-07-02 12:14] #47 closed

[2019-07-02 12:50] #9 closed

[2019-07-02 12:55] barteksekula opened #54 "Select the property when attaching screenshot"
While adding a new "Pin" over an EPiServer property the default crop should be automatically set to the full size of the property html node.
Then the user does not have to manually find the property and can just highlight what is important.

[2019-07-02 12:55] #54 closed

[2019-07-02 12:57] barteksekula opened #55 "Show display property name"
We should use translated property names instead of just property name from code.

[2019-07-02 12:57] #55 closed

[2019-07-04 10:08] barteksekula opened #57 "Scroll does not work properly in the External Review scenario"

[2019-07-04 12:12] #57 closed

[2019-07-05 00:02] karorapepper commented on #53
Hi @barteksekula The 404 issue I am getting is not same as globalisation Url issue due to language fragment. In my case even after removing the language fragment the (Created as Edit) editable external reviewer urls are returning 404 error while View only external reviewer urls are working fine. Is this something you have already fixed? Please read more details in comment above. Thanks!

[2019-07-07 17:08] barteksekula commented on #53
@karorapepper I've just checked once again to be sure but everything seems to work just fine.
an example url for an external reviewer is as follows (never contains the language branch):
http://example.com/externalContentReviews/da996ac1-418e-4a0a-990a-e03d85cd72a1
however urls for "view" are like this (this one has the language branch):
http://example.com/en/externalPageReview/da996ac1-418e-4a0a-9

[2019-07-18 11:12] #26 closed

[2019-07-19 09:32] barteksekula opened #62 "Hide Toggle Review command when not viewing content data"
We have to check the context type and only call getCurrentContent and check status if viewing a content data instance.

In all other scenarios the command should have isAvailable = false.

[2019-07-19 11:19] barteksekula opened #64 "data-epi-property-name not rendered for all properties"

[2019-07-19 11:24] #29 closed

[2019-07-19 11:56] #44 closed

[2019-07-21 20:07] barteksekula opened #66 "Context menu not disposed properly"
Priority dropdown seems to not be disposed properly.
![external_reviews_bug_context_menu_priority_not_destroyed](https://user-images.githubusercontent.com/1321664/61596429-e34f1180-ac03-11e9-9ff5-ab76dd621aeb.png)

[2019-07-21 20:11] barteksekula opened #67 "Screenshot & highlight on directly on the overlay"
Instead of using a dialog with a small screenshot of the page we could use the existing overlay (documentOverlay) so that the user can easier see problematic parts of the page.

If that's problematic or hard to do then at least we should increase the size of the dialog, preferrably make it full screen?

[2019-07-24 12:49] #62 closed

[2019-07-24 12:52] #64 closed

[2019-08-06 12:41] barteksekula opened #68 "Styling of comment item"
![image](https://user-images.githubusercontent.com/1321664/62540560-2fcb5b80-b858-11e9-9734-91c6ea525aeb.png)

[2019-08-06 12:42] barteksekula opened #69 "Screenshot picker issue with external images"
If the page contains external images then https://www.npmjs.com/package/html2canvas fails to display them in the generated screenshot.

[2019-08-12 20:32] #68 closed

[2019-08-14 14:40] dlwniels opened #71 "Login loop, being able to review login page"
For some reason I keep seeing the log in page, I log in with valid credentials and see the log-in page again. The plug-in thinks I'm viewing the actual content I requested and allows me to place pins on the log-in page itself.

Url: http://localhost:1812/Util/login.aspx?ReturnUrl=%2fexternalContentReviews%2f6c9d1268-4417-4549-b5cd-60cee9659784
![image](https://user-images.githubusercontent.com/471

[2019-08-14 14:49] dlwniels opened #72 "Disable "Turn on external review" button after publish"
Once content is published, we can no longer access the external review view, so the button should be disabled. When refreshing the page, the button is disabled.

[2019-08-14 14:54] dlwniels commented on #72
And a question: should the external review view only be accessible for published content, always? Since the button get's disabled once the page is published. If so, I'm able to create external review edit links for published pages while the button is disabled.

[2019-08-14 16:05] barteksekula commented on #71
Just making sure.. is `Reviewer` a member of `ExternalReviewers` group?
https://github.com/advanced-cms/advanced-reviews#security

[2019-08-14 16:13] barteksekula commented on #72
I think I get what you mean but could you please add steps to reproduce using
the following terminology:
![image](https://user-images.githubusercontent.com/1321664/63037051-87a03d00-bebe-11e9-8175-094d4ada5e43.png)

1. This is `Toggle Review Mode` toggle button
2. This is `External Reviews` component/gadget

Those two functionalities are not related to one another. `Toggle Review Mode` is just a w

[2019-08-15 06:01] LinusEkstrom opened #73 "Mentions of editors in comments should generate a notification for the user that is mentioned"
When a user is mentioned in a comment, they should receive a a notification in order to quickly be able to react to this.

[2019-08-19 06:25] dlwniels commented on #72
Hi,

So when a page is in draft, the Toggle Review Mode is available (button enabled). Once I publish the page & refresh the page the Toggle Review Mode (button disabled) is no longer available.

This made me wonder, if the Toggle Review Mode is not available for published pages, then external reviewers shouldn't be able to access it too? So you shouldn't be able to generate an external EDIT url i

[2019-08-19 06:45] dlwniels commented on #71
For some reason it fixed itself after a couple days. I didn't change anything. When I had the problem I cleared my cookies and cache several times, I also restarted the webbrowser.

Yes, my user was part of "ExternalReviewers". The account also never was disabled because of too many failed login attempts.

I believe this is an episerver bug and not related to your package. I'll close it.

[2019-09-09 20:18] barteksekula commented on #72
Ok, that makes sense. Adding review links to a published version probably does not make much sense.

[2019-10-01 07:54] hahuynhniteco opened #74 "externalContentReviews Show blank page"
I installed Advanced.CMS.AdvancedReviews - v 0.3.0 on EPiServer.CMS.Core - 11.12.0
and EPiServer.CMS.UI - 11.21.3

When add page to External review links with Edit, go to edit link and it shown blank page.
![externalContentReviews-show-blank-page](https://user-images.githubusercontent.com/44801946/65944216-6a6a0280-e45b-11e9-8b69-30a94a2ffbb9.png)
Thanks,
Ha

[2019-10-01 08:22] barteksekula commented on #74
You must have a 404 from the underlaying iframe. Could you please share some more info? logs etc.?

[2019-10-01 08:31] hahuynhniteco commented on #74
When open edit link externalContentReviews, login with account assigned to ExternalReviewers role. It shown the edit content page but it's blank. I have checked with iframe and the page is empty.
![externalContentReviews-show-blank-page](https://user-images.githubusercontent.com/44801946/65946390-3fce7880-e460-11e9-8b63-dcdfa1bd5f50.png)
![iframe-page-url](https://user-images.githubusercontent.com

[2019-10-01 09:05] hahuynhniteco commented on #74
@barteksekula For more information, there are multiple sites and multiple language on site instance

[2019-10-02 06:10] hahuynhniteco commented on #74
Hi @barteksekula I found the problem in the PageEditPartialRouter.cs, in the RoutePartial function, I comment out these lines:
//segmentContext.ContextMode = ContextMode.Edit;
//segmentContext.RouteData.DataTokens[RoutingConstants.NodeKey] = page.ContentLink;

Then it's working. Could you please help to check? is it necessary to add this code? because it is just review on the preview page?

![imag

[2019-10-02 08:18] barteksekula commented on #74
@hahuynhniteco yes, those lines are necessary. Without them you won't see the epi-data-property-name attributes rendered and we would not be able to match the pins with right properties.
Does this happen for you in the sample web app from the github repo? or only in your own web app.

[2019-10-02 13:14] barteksekula commented on #74
Is the problematic page under the primary site?

[2019-10-03 02:30] hahuynhniteco commented on #74
Yes, it does not happen on the sample web app from github but it happened on my primary site. Is there any need to check for the blank page?

[2019-10-03 02:52] karorapepper commented on #74
Coincidentally I had similar issue but didn't pursue thinking it just our site specific problem. In my case instead of blank page I get 404 error. I suspect it has something to do permissions to create ExternalContent folder that saves content in edit/draft mode for external reviewers to review.

[2019-10-03 03:20] hahuynhniteco commented on #74
Thanks @karorapepper , how can I check the permissions ExternalContent folder on my site?

[2019-10-03 05:34] barteksekula commented on #74
@hahuynhniteco just so that we are on the same page, by primary site I mean the one that is marked with PRIMARY option in admin mode, right?

[2019-10-03 05:38] barteksekula commented on #53
@karorapepper did this work for you?

[2019-10-03 05:50] karorapepper commented on #53
hey @barteksekula, nope the issue not resolved yet, the editable reviewer link still gives 404. I assumed it may have something to do with permissions setup for content editor user roles which is not allowing to create pages in editable mode. However my content editor/reviewers only needed viewable links hence didn't pursue for the solution. Though would be good to find a solution.

[2019-10-03 05:56] karorapepper commented on #53
Also @barteksekula from your previous comment I think you are mixing two different issues I was talking about -
1. which you already fixed in later version, was the language branch code (en etc) was getting appended to url. I managed to fix this by using redirects until we had the version fix. So this is not a problem.
2. The problem was only with pages for which content editors created preview in

[2019-10-03 06:02] hahuynhniteco commented on #74
@barteksekula right, the site is marked with primary in admin mode.

[2019-10-03 06:40] barteksekula commented on #74
how many sites and languages do you have? is it the master language?
does the 'view' token work? and it's only 'edit' that does not?
have you tried with any other page?

a lot of questions but I need as much data as possible :)

[2019-10-03 06:49] hahuynhniteco commented on #74
Thanks @barteksekula for response. Currently, I have 28 sites on one instance, 5 languages are enabled. The main language is English (Australia) | en-AU
The view working as expected. Just only the edit does not work.
And I have tried lots of page but no luck :)

[2019-10-03 07:16] barteksekula commented on #74
Ok thanks. I will try to reproduce this one and get back to you :)

[2019-10-18 07:11] #71 closed

[2019-10-18 15:07] barteksekula commented on #74
Fixed in: https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.3.1

[2019-10-18 15:07] barteksekula commented on #71
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.3.1

[2019-10-18 15:07] barteksekula commented on #53
Fixed in: https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.3.1

[2019-10-24 03:48] hahuynhniteco opened #77 "Comment layout issue with EPiServer.Cms.UI version 11.22"
Hi @barteksekula
Can you please help a check for comment UI of advanced reviews, it looks not good with EPiServer.Cms.UI version 11.22. It looks good with earlier UI version 11.21

![image](https://user-images.githubusercontent.com/44801946/67451814-a0aa3480-f64b-11e9-8e57-8fe90c178ec6.png)

Thanks,
Ha

[2019-10-25 06:09] #49 closed

[2019-10-25 06:09] barteksekula commented on #49
we will probably not implement this.

[2019-10-25 06:10] #67 closed

[2019-10-25 19:41] barteksekula commented on #66
Fixed in https://github.com/advanced-cms/advanced-reviews/pull/78/commits/14175624b255cf00f8cb14e23b3f976469afd166
menu-surface from ui-framework does not have that problem

[2019-10-25 19:41] #66 closed

[2019-10-28 18:42] barteksekula commented on #77
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.4.0

[2019-10-28 18:42] #77 closed

[2019-10-28 18:42] barteksekula commented on #77
Thanks for reporting @hahuynhniteco

[2019-11-08 07:51] barteksekula commented on #74
@hahuynhniteco does it work for you now?

[2019-11-08 07:51] barteksekula commented on #71
@dlwniels does it work for you now?

[2019-11-08 07:51] barteksekula commented on #53
@karorapepper does it work for you now?

[2019-11-08 07:58] dlwniels commented on #71
@barteksekula I haven't had the problem since the update, so I would say it's solved. It was something that rarely happened, so could've been that I am just lucky. If I ever have it again, I will log it.

Thanks!

[2019-11-08 07:59] hahuynhniteco commented on #74
Hi @barteksekula I have upgraded to v0.4.0 but still not work on our site.

[2019-11-19 22:43] #5 closed

[2019-11-19 22:43] #11 closed

[2019-11-19 22:44] barteksekula opened #81 "Add option to name the generated VIEW / EDIT urls"
If would be helpful if editor could add a name, let's say the name of the person/group that that url should be sent to.
At the moment we only display guids.

[2019-11-22 23:10] #42 closed

[2019-11-22 23:19] barteksekula commented on #72
We decided that we will still leave the opportunity to generate tokens for all possible versions (including the published version).
However the original issue (the fact that the **Toggle Review Mode** toggle button is not immediately disabled will be fixed in v0.5.0

[2019-11-26 19:16] ahmhad opened #86 "Incorrect external links generated when website does not have a default culture set"
In the ExternalReviewLinkBuilder.cs

you have

            return new ExternalReviewLink
            {
                ContentLink = externalReviewLinkDds.ContentLink,
                IsEditable = externalReviewLinkDds.IsEditable,
                ProjectId = projectId,
                Token = externalReviewLinkDds.Token,
                ValidTo = externalReviewLinkDds.ValidTo,
                Link

[2019-11-27 21:12] eckleyval opened #87 "Incorrect links on newly created project pages set to Ready for Publish - External Reivew"
The Project review is working great for edits to previously published pages within a projects.  All the edits are showing up fine.

However when I add a new page to a project (set to Ready for Publish) and  create a link to this page, It is showing an incorrect link when testing.   If I publish the page then the link works fine.

The Individual external links to the pages set to "ready for publish

[2019-12-02 09:10] #81 closed

[2019-12-02 09:11] #46 closed

[2019-12-02 12:11] #86 closed

[2019-12-02 23:06] barteksekula commented on #7
We added Display Name field that can be used to name the generated token url.
Probably not worth to track/store any personal data because the tokens are only valid for a short period of time.

[2019-12-02 23:06] #7 closed

[2019-12-31 06:49] gt-se opened #90 "External review is not working properly if data of the block get from the page's properties."
Hi,

I would like to report an issue with this addon.

Test data: a page contains a block, and several properties (these properties have data). The block is designed to display the data stored in the page's properties.

Issue: when sharing this page via the external review link function, this block doesn't display any data, because it cannot resolve the current page.

Refer attached screenshot bel

[2019-12-31 15:16] barteksekula commented on #90
@gt-se what is the generated url? are you on the latest version? I did some improvements about that particular issue in https://github.com/advanced-cms/advanced-reviews/commit/a8780fc67692fbb7251685f861e8f82db141c9ca

However, I was not able to solve an issue with pages that were never published before. Is that what you see yourself? Does it work for pages that were published before and does not w

[2020-01-02 04:40] gt-se commented on #90
Hi @barteksekula,

Please find the answer below:

Point 1: below is the generated URL. But bear in mind this is a local link so you cannot access it.
https://local.grantthornton.ca/externalContentReviews/f241bfcc-86b1-4caa-9345-9839b0e61866

Point 2: we used the latest version which is 0.5.1.

Point 3: your improvement was fixed for other issues, not the one we reported. We had pulled this request

[2020-01-03 05:53] gt-se opened #91 "Turn off Review mode: page cannot scroll"
1. Open external review link
2. Turn off review mode (on right panel)
Actual result: after turn off review mode, the page cannot scroll down
Refer attached clip!
[addon-issue.zip](https://github.com/advanced-cms/advanced-reviews/files/4018216/addon-issue.zip)

[2020-01-07 02:24] gt-se opened #92 "Addon is not displaying if using image and link (URL property)"
Hi,

There's another issue with this addon. It is not working with URL property.
![chrome_wxxl8IiIG1](https://user-images.githubusercontent.com/58317822/71863423-64a54c80-312f-11ea-9096-1c4f4a1fbbf1.png)

![chrome_N3kLIWcIh7](https://user-images.githubusercontent.com/58317822/71863349-30319080-312f-11ea-8dc1-5d7088b99583.png)
Reproduce step:
Include URL property to a page type:
` [CultureSpecific]

[2020-01-09 15:51] ncindric opened #94 "Additional overrides in PreviewUrlResolver"
Hi,

We are trying out the plugin but we are experiencing few issues with `UrlResolver`.
To be a bit more specific, our project is highly dependent on custom implementations of `GetUrl(UrlBuilder urlBuilderWithInternalUrl, ContextMode mode)` and `GetUrl(ContentReference contentLink, string language)` which are not provided in the `PreviewUrlResolver` and thus do not trigger our implementations as

[2020-01-13 22:08] barteksekula commented on #94
@ncindric would it be possible for you to create a fork with a reproducible scenario? I'm a bit short on time lately and that would be a huge help.

[2020-01-14 08:33] barteksekula commented on #92
@gt-se could you please share both model property and how it's rendered in the view? (I assume it was a typo that you posted a ContentArea above right?)

[2020-01-14 08:35] barteksekula commented on #90
@gt-se would it be possible for you to create a fork with reproducible scenario? that would help a lot and speed things up

[2020-01-14 08:38] barteksekula commented on #87
@eckleyval so you would expect that the link to that newly added page would be to project-related version or not-project-related version?
While in project mode then all created tokens contain projectId that will be injected when trying to view such a link.

[2020-01-14 09:36] #91 closed

[2020-01-17 09:07] TNMH commented on #74
Hi @barteksekula
I also encountered this exact same problem using v0.5.1.

The View functionality works as expected but the Edit functionality results in a blank page. The browser console returns a 'Failed to load resource: the server responded with a status of 404 (Not Found)' error.

[2020-01-20 10:32] ncindric commented on #94
Hey @barteksekula ,

Sorry for the late reply. Unfortunately, we don't have any time lately either. However, when we have some time we will be happy to help but we can't say with certainty when we would have some time available.

Regards,
Nemanja.

[2020-01-21 03:29] gt-se opened #95 "So many bugs - this addon breaks the CMS for editor role with IE11"
Reproduce step:

1. User with editor role only
2. Using Internet Explorer 11

![iexplore_aF7H0uT3rH](https://user-images.githubusercontent.com/58317822/72773166-dbb30880-3c38-11ea-863b-4277bd36022b.png)

[2020-01-21 03:37] gt-se opened #96 "PIN position is not working properly"
The comment PIN position is unstable.
PIN location in the internal:
![internal-review](https://user-images.githubusercontent.com/58317822/72773519-f46fee00-3c39-11ea-9a2e-200dd2d91f7f.png)

PIN location in the external
![external-review](https://user-images.githubusercontent.com/58317822/72773523-f89c0b80-3c39-11ea-9c61-08e9a5e4fcfb.png)

[2020-01-21 06:39] barteksekula commented on #95
@gt-se this is an open source add-on that we do in our free time. we haven't actually thought if we need to still support ie11.
is IE11 a must for you?

[2020-01-21 07:40] gt-se commented on #95
@barteksekula : yes, IE11 still widely be used in many firms as default web browser.
Thanks!

[2020-01-21 08:58] TNMH opened #97 "Add possibility to disable add-on"
Hi!
We would like to use this add-on in a production environment. For debugging and security reasons it would be nice to have an option to disable this plugin.

Thank you for considering this request.

[2020-01-21 21:30] barteksekula commented on #95
It was a conscious decision for us to drop support of IE11 which is 11 years old now. Of course the Core EPiServer still has IE11 support but this is a personal add-on and you are actually the first one to mention IE11 in half a year.
We will try to estimate how much time would it be to downgrade but it's hard to predict when it could happen.

Maybe you would like to give it a shot? I assume it's

[2020-01-21 21:33] barteksekula commented on #97
@TNMH would you expect a toggle in admin mode? web.config or rather an option in the c# config api?

[2020-01-21 21:34] barteksekula commented on #94
So maybe at least you can share that code that is causing problems?
It will be hard for me to solve without any steps to reproduce.

[2020-01-21 21:37] barteksekula commented on #90
@gt-se any comments here? maybe at least you can share the code from template?

[2020-01-21 21:37] barteksekula commented on #87
@eckleyval any comments?

[2020-01-22 08:03] TNMH commented on #97
@barteksekula An option in the C# config API would be our preferred method.
Thank you very much for your work.

[2020-01-26 19:13] barteksekula commented on #96
@gt-se what does it mean "in the internal" or "in the external"?

[2020-01-26 20:23] barteksekula commented on #96
@gt-se is the pin added on top of an episerver property (element rendered by Html.PropertyFor helper?
or an element with Html.EditAttributes?
Is the resolution and the window size the same on both internal and external?
do you have some kind of responsive design on your page?

[2020-01-26 20:45] barteksekula commented on #94
Try to follow the pattern below:

[code]

In your custom UrlResolver use **IsInProjectReviewContext** and **IsInExternalReviewContext** to determine if you should proxy the call to our PreviewUrlResolver.

Additionally the module where you register your custom UrlResolver should have a dependency on **DrafContentAreaPreviewInitializerInitializer**

[2020-01-26 20:46] barteksekula commented on #94
Please let me know if that helps. I will update our readme if it does.

[2020-01-27 11:54] ncindric commented on #94
Hi @barteksekula ,

Sorry for the late reply, I've missed the notification about your first comment.
Unfortunately, we're experiencing other issues with higher priorities and we can't pick this up as of now.
We will get back to you with feedback as soon as we have availability to check it out.

Regards,
Nemanja.

[2020-01-27 19:41] #97 closed

[2020-01-27 19:45] #96 closed

[2020-01-27 22:02] barteksekula commented on #95
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.2

[2020-01-27 22:02] #95 closed

[2020-01-27 22:04] barteksekula commented on #97
Added in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.2

[2020-01-27 22:04] barteksekula commented on #96
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.2

[2020-01-27 22:04] barteksekula commented on #91
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.2

[2020-02-04 10:46] TNMH opened #103 "Content area renderer conflict"
Hi,

Upon installing the advanced review plugin, we noticed some custom functionality of ours break.
Upon further inspection, the custom content area renderer we are using to provide some functionality is being overwritten by your custom implementation.

The issue is that you are registering your custom implementation using an intercept method, which is depriving us of our own implementation.

The

[2020-02-05 10:24] matkun opened #104 "Pins not rendering in expected place in 0.5.2"
It seems like there is an issue with the positioning of pins in version 0.5.2 of the add-on (see gif animation below).

We set up an Alloy website and tried the nuget packages for versions 0.5.1 (works) followed by 0.5.2  (issues). Both together with EPiServer.CMS 11.14.1. Tested in Chrome 79.0.3945.130 and Firefox 72.0.2.

The javascript error appearing in the gif when clicking the bottom lists i

[2020-02-05 11:16] baier opened #105 "External review disabled although enabled"
Although external reviews are enabled, it is not in the GUI:
![image](https://user-images.githubusercontent.com/1081200/73836800-5e7abc80-4810-11ea-85ae-265248653fc7.png)

Use the following code to do an initialization:
[code]
Version is 0.5.2.

[2020-02-05 11:42] baier opened #106 "Console error on sharing of links"
It is possible to create a view link and a edit link, but sharing the link through the share-dialog gives a console error:

![image](https://user-images.githubusercontent.com/1081200/73838865-f24e8780-4814-11ea-9ba0-e33dca24a962.png)

Use the following code to do an initialization:
[code]
Version is 0.5.2.

[2020-02-05 11:44] matkun opened #107 "Browser scrollbar disappearing under expandable review panel"
The handle part of the vertical scroll bar disappears behind the collapsed review panel when it gets too small on long pages. The image below shows it sticking out behind the panel on a medium length page.

![image (1)](https://user-images.githubusercontent.com/559763/73838449-fded7e80-4813-11ea-8c15-8614205d3034.png)

Expanding the review panel hides the scroll bar alltogether.

![image (2)](http

[2020-02-05 11:46] matkun commented on #105
Have you made a change to that has been saved to the page you're looking at? I'm not sure the button will be enabled on published content.

[2020-02-05 11:55] baier commented on #106
We use Azure AD for authentication, if that's relevant.

[2020-02-05 12:13] matkun commented on #106
The exception seems to be thrown when NotificationEmailAddress is not set on Episerver's notification options
[code]
If I remember correctly this is populated from the configuration file at _system.net/mailSettings/smtp_ (the from-attribute).

[code]

Hope it helps

[2020-02-05 12:54] baier commented on #106
I've tested with both the snippet you've written above and setting this:
`  <applicationSettings defaultNotificationEmailAddress="notifications@example.com" defaultNotificationEmailDisplayName="Episerver" />`

They both remove the console error, but no email is sent.

[2020-02-05 13:04] matkun commented on #106
Perhaps trying a pickup directory could help you determine if the problem is code related or has to do with the mail server or connection to it.

You could try to keep the defaultNotificationEmailAddress and configure something like below

[code]

[2020-02-05 13:52] baier commented on #106
The are indeed generated email-files i c:\maildrop when we trigger the link sharing, but I think it is odd that we would need to specify a mailserver for this now, as we've never had an email server on the solution before (and it has worked before). Could it have something to do with the authentication? Apparently my user in Azure AD isn't associated with an email address, which seems to be the pa

[2020-02-06 09:31] barteksekula commented on #106
@baier @matkun we use the built-in EmailNotificationProvider
https://github.com/advanced-cms/advanced-reviews/blob/master/src/external-reviews/ReviewLinksRepository/ExternalReviewStore.cs#L149

which as you found out uses those config options:
`
<applicationSettings defaultNotificationEmailAddress=”notifications@example.com”
                     defaultNotificationEmailDisplayName=”Episerver” >
`

[2020-02-07 12:00] jtonvang commented on #106
We're having the same issue - using the SMTP-server provided by Episerver as part of the DXC-service.
The logs indicate that the problem is that the certificate of the SMTP server cannot be validated.
We've fixed this in our own email service by overriding this in the certificate validation callback - if you'd like I can submit a PR with this fix.

[2020-02-08 14:57] barteksekula commented on #106
@jtonvang does the SMTP work for regular epi notifications and only fail for reviews? please create a PR if you have a fix. we will appreciate all contributions! :)

[2020-02-08 17:18] barteksekula commented on #107
@matkun could you please test this out? https://github.com/advanced-cms/advanced-reviews/pull/108
I would really appreciate your help.

[2020-02-08 17:34] barteksekula commented on #103
@TNMH
We have this call:
https://github.com/advanced-cms/advanced-reviews/blob/master/src/external-reviews/DraftContentAreaPreview/DraftContentAreaRenderer.cs#L60

It calls the orignal RenderContentAreaItems from the instance registered in the container.

Maybe it's just the matter of order in your scenario? Have you tried also intercepting ContentAreaLoader?

Are you able to reproduce your issue

[2020-02-08 21:43] barteksekula commented on #104
@matkun I assume it only happens in the "external" scenario right? Does it work fine inside Edit mode?

[2020-02-08 23:46] barteksekula commented on #104
@matkun could you please test this PR? https://github.com/advanced-cms/advanced-reviews/pull/109
You can either clone and checkout my branch and use the sample Alloy or clone/checkout and run pack.cmd to create a pre-release nuget that you could try to apply on your own site.

This pin positioning is quite complex matter so I would really appreciate if you could test my PR.
The problem was always

[2020-02-09 12:31] barteksekula opened #110 "Split c# code into a separate nuget"
In scenarios where customers have models outside of the website project it would be useful to allow to only reference the nuget with UI components from the website and still use the c# stuff (like initializable modules etc.) from the project with models.

[2020-02-10 08:56] matkun commented on #107
Works great :) Thanks for the fast response!

I've tested and commented here https://github.com/advanced-cms/advanced-reviews/pull/108#issuecomment-584017289

[2020-02-10 09:04] jtonvang commented on #106
@barteksekula No, the SMTP in DXC doesn't work for anything without disabling certificate check. Our fix will disable the certificate check for all requests in the application though which, come to think of it, might not be acceptable for everyone. Let me know if you still want it.

[2020-02-10 10:57] argetgarzjla commented on #103
@barteksekula
The call will not help us in this case. The issue is that even if you call the original instance, because your content area renderer is being registered via an intercept, the default implementation and our custom implementation is overwritten by yours. You can see this in the screenshot underneath:

![image](https://user-images.githubusercontent.com/25726984/74143651-78931100-4bfb-11

[2020-02-10 14:14] matkun commented on #104
Tested, involved my collegue in testing as well, we can't find anything wrong. Works both in Episerver's edit mode as well as in the external review context. Thanks for the fast fix :)

Tested in Firefox 72.0.2, it's same in Chrome 80.0.3987.87.
Commented here https://github.com/advanced-cms/advanced-reviews/pull/109#issuecomment-584136606

[2020-02-10 16:55] eckleyval commented on #87
Yeah - I would expect it to be project related, so that we can migrate through new pages across an entire project -   Sorry for the late reply...

[2020-02-11 08:53] #104 closed

[2020-02-11 08:53] #107 closed

[2020-02-14 06:47] barteksekula commented on #103
Could you please check if this renderer works for you?
https://github.com/advanced-cms/advanced-reviews/blob/master/src/alloy/Business/Rendering/AlloyContentAreaRenderer.cs
This is the sample custom renderer in Alloy and it seems to work just fine with DraftContentAreaRenderer.
In the end it's only 1 ContentAreaRenderer that is used by the IoC container so it does not matter how many or how are re

[2020-02-14 06:52] barteksekula commented on #104
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-02-14 06:52] barteksekula commented on #107
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-02-21 14:38] daniel-isaacs commented on #106
@jtonvang What SMTP server are you using with your DXC setup -- smtp.episerver.net or smtp.sendgrid.net? If you're using the first one, does it work if you switch to the second one?

[2020-02-24 11:06] Mordrag opened #111 "PageRouteHelper doesn't contain reference to previewed page"
Issue:
The PageRouteHelper doesn't point to the correct page when previewing a page.
![image](https://user-images.githubusercontent.com/134139/75147530-d1839e80-56fd-11ea-92d8-d960a92555b0.png)

Actual:
It always contains the published page

Expected:
It should contain the previewed page.

[2020-02-28 12:02] barteksekula commented on #105
No response.

[2020-02-28 12:02] #105 closed

[2020-03-05 08:51] barteksekula commented on #103
@TNMH @argetgarzjla we have some time today so we can try to help you with this one. Are you still interested?

[2020-03-05 08:53] barteksekula commented on #94
Posted a workaround code. Please reopen if it does not help.

[2020-03-05 08:53] #94 closed

[2020-03-05 08:56] barteksekula commented on #106
@jtonvang We can try to report it as a regular product issue. So just to be clear. No emails are sent when try to use SMTP from a site under DXC? which SMTP server do you use?

[2020-03-05 09:07] jtonvang commented on #106
Sorry, forgot to answer this. We're using smtp.episerver.net, haven't tried smtp.sendgrid.net - will try when I have the chance.

[2020-03-05 09:26] barteksekula commented on #106
If you are able to reproduce that issue outside of the scope of advanced-reviews then it would be great if you could just report an issue directly in episerver partner portal. Would you be ok with it @jtonvang ? smtp.episerver.net is heavily used in hundreds of projects so there must be a reason why you needed to disable that certificate.

[2020-03-05 09:37] barteksekula commented on #92
@gt-se
I've just tried to reproduce the issue and it worked fine for me.

Model:
`
[Display(Name = "Image", Order = 100)]
public virtual Url Image { get; set; }
`

View:
`
<img src="@Url.ContentUrl(Model.CurrentPage.Image)" />
`

The image is correctly displayed in both VIEW and EDIT scenarios.
Please reopen the issue if it still does not work for you.

[2020-03-05 09:37] #92 closed

[2020-03-05 10:54] #111 closed

[2020-03-05 10:56] gregwiechec commented on #90
should be fixed in #111

[2020-03-05 12:18] steel80 opened #112 "Expired content in ContentArea is still visible in externalContentView"
An expired block in a ContentArea is still visible in externalContentView mode. Desired behavior would be that no expired material is shown in the draft that is sent to the reviewer.

The issue is confirmed in Alloy with EPiServer CMS version 11.14.2.

[2020-03-05 13:26] #112 closed

[2020-03-05 13:31] barteksekula commented on #87
I tried to reproduce this today and it worked fine for me.
Would it be possible for you to create a bit more details "Steps to reproduce" ?

[2020-03-05 13:36] #110 closed

[2020-03-05 14:37] daniel-isaacs commented on #106
And, are you using the settings from here: https://world.episerver.com/digital-experience-cloud-service/development-considerations/configuring-the-email-server/ ? Or are you adding in the _enableSsl="true"_ property?

If the latter, it's because the cert doesn't include the smtp.episerver.net hostname: https://www.checktls.com/TestReceiver?LEVEL=DETAIL&amp;EMAIL=smtp.episerver.net:

[2020-03-05 19:44] #10 closed

[2020-03-05 19:45] #45 closed

[2020-03-06 07:53] #74 closed

[2020-03-06 09:47] jtonvang commented on #106
@daniel-isaacs Good catch, we had the enableSsl attribute added. I guess that mystery is solved then 🥇

[2020-03-06 12:57] barteksekula commented on #106
So it's all good? May I close this ticket?

[2020-03-06 13:01] jtonvang commented on #106
It wasn't my ticket, so I guess @baier needs to comment whether he still has the issue.

[2020-03-06 13:02] barteksekula commented on #106
@baier all good if you use the config from https://world.episerver.com/digital-experience-cloud-service/development-considerations/configuring-the-email-server/ with enableSsl="true" ?

[2020-03-06 13:03] jtonvang commented on #106
enableSsl="true" <--- needs to be removed ;)

[2020-03-06 13:32] barteksekula commented on #90
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-03-06 13:32] #90 closed

[2020-03-06 13:34] barteksekula commented on #111
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-03-06 13:35] barteksekula commented on #112
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-03-06 13:35] barteksekula commented on #74
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.3

[2020-03-06 13:55] barteksekula commented on #104
@matkun it took a while but 0.5.3 is finally out with several important bug fixes.

[2020-03-09 12:01] #106 closed

[2020-03-12 14:11] Anish-Peethambaran opened #114 "Error while saving Pin in external content review"
I am getting the error "Request failed with status code 404" while adding pin in external review content. Attaching the screen shot of the error. I am using version 0.5.3. Any help on this please?
![Add pin error](https://user-images.githubusercontent.com/54981074/76530206-4e877580-646b-11ea-9538-284f4d16a3ab.JPG)

[2020-03-12 18:13] gregwiechec commented on #114
We had to do some changes related with URL routing in latest release and probably that could be problem.
Could you provide more information about steps to reproduce or setup that you have (like multisite, languages, etc.)?

[2020-03-13 05:27] barteksekula commented on #114
@Anish-Peethambaran do you have any custom ExternalReviewOptions? ref. https://github.com/advanced-cms/advanced-reviews/#examples

[2020-03-13 08:09] Anish-Peethambaran commented on #114
@gregwiechec Not a multisite, language is English UK. This is happening only for Edit links for external review. When the edit link is clicked and PIN is saved, error is shown.

[2020-03-13 08:11] Anish-Peethambaran commented on #114
This happens only in Edit link. I have enabled Edit link using the below code

 context.Services.Configure<ExternalReviewOptions>(options =>
            {
                options.EditableLinksEnabled = true;
            });

[2020-03-13 08:13] barteksekula commented on #114
Are you able to reproduce the issue in the attached Alloy instance?
Just git clone this repo and run 'setup.cmd' and then 'site.cmd'

[2020-03-13 08:13] barteksekula commented on #114
And did it work in 0.5.2 for you?

[2020-03-13 08:25] Anish-Peethambaran commented on #114
@barteksekula I am using this add-on for first time with version 0.5.3.
I didn't try to reproduce in the Alloy instance, will try it if no other option. The issue here is, save PIN works for view link but not for edit links.

[2020-03-13 20:46] barteksekula commented on #114
OK, I think I see the problem.
Your url has a trailing slash '/' for some reason and this causes our routing table to go crazy.

Could you please check if there is a trailing slash when you copy the url from the widget?
![image](https://user-images.githubusercontent.com/1321664/76658306-1f106000-6574-11ea-9707-6f98be7c4d24.png)

[2020-03-16 11:00] Anish-Peethambaran commented on #114
@barteksekula Thanks. You were right. There was a rule to add trailing slash to URL, this was causing the issue. Thanks for your support, really appreciate.

[2020-03-16 11:56] Anish-Peethambaran commented on #114
Now showing error while trying to remove a PIN. Attaching the screen shot.
![image](https://user-images.githubusercontent.com/54981074/76756138-13dc5080-677d-11ea-96c3-ced2d8df14b7.png)

[2020-03-16 17:11] Anish-Peethambaran opened #116 "Page not found error after submitting PIN for save external review login"
I created an external content view with PIN. Opened the link in new tab and submitted the saved PIN. But it showing page not found error. Attaching the screen shot and code used.

login url :

https://localhost:44386/ExternalReviewLogin?id=71f40062-1254-42cf-9f5f-652bc225a12b

context.Services.Configure<ExternalReviewOptions>(options =>
            {
                options.EditableLinksEnabled =

[2020-03-16 21:46] #114 closed

[2020-03-17 06:59] barteksekula commented on #87
No response

[2020-03-17 06:59] #87 closed

[2020-03-17 07:20] barteksekula commented on #114
Both issues will be fix in the 0.5.4 release that will be available tomorrow.
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.4

[2020-03-17 07:55] gregwiechec commented on #116
Hi,
I was not able to reproduce it. If you clone the project and run, are you able to reproduce it?

[2020-03-17 10:22] gregwiechec commented on #116
When you are testing it, you are already logged in to edit mode?

[2020-03-17 10:27] Anish-Peethambaran commented on #116
yes, that's correct. Does that cause any issue?

[2020-03-17 18:30] Anish-Peethambaran commented on #116
@gregwiechec @barteksekula I had gone through the code. After entering the security PIN, the action call for "/ExternalReviewLogin/Submit" is failing and CMS showing page not found. Any help on this?

[2020-03-17 19:53] gregwiechec commented on #116
What do you mean by failing? Do you know what exception is thrown and is there a callstack?

[2020-03-17 22:04] Anish-Peethambaran commented on #116
It is not throwing any exception. But after entering the PIN, Page not found is shown, 404 error.

[2020-03-18 10:29] #116 closed

[2020-03-18 10:30] #69 closed

[2020-03-19 08:36] barteksekula commented on #114
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.4

[2020-03-19 08:36] barteksekula commented on #69
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.4

[2020-03-19 08:36] barteksekula commented on #116
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.4

[2020-03-24 22:46] Anish-Peethambaran opened #120 "For anonymous user contents are not fully loaded in external Content View."
For anonymous users, contents are not loaded fully in external Content View. Only after logging-in  full contents are loaded. Is there any restrictions that only authenticated users will be able to see the full version of the page? Our requirement is to share the unpublished version of the page to external users who don't have a user account in CMS for review. Please share your comments on this.

[2020-03-25 06:03] barteksekula commented on #120
@Anish-Peethambaran could you please write more? Your assumption is correct. What exactly is missing for an unauthenticated user?

[2020-03-25 18:37] Anish-Peethambaran commented on #120
@barteksekula mega menu and heading content are missing. We are using hero banner block for heading content and menu item block for mega menu. These two are the main components that are missing for unauthenticated users. If we are logged-in then the page is fully loaded as expected. Do you think any permission or access issue might be the reason. Please let me know if you need more info on this

[2020-03-25 19:24] barteksekula commented on #120
Just to double check, that mega menu and hero banner block are correctly displayed once you publish that page and then try to view it as an unauthenticated user in an incognito tab?

[2020-03-26 21:48] Anish-Peethambaran commented on #120
@barteksekula Thanks for the hint. The pages had some access restrictions that was causing the issue. Now it is working fine. Many thanks for the support.

[2020-03-26 22:08] barteksekula commented on #120
great to hear

[2020-03-26 22:08] #120 closed

[2020-03-30 21:53] Anish-Peethambaran opened #121 "ExternalReviewers access rights"
@barteksekula Could you please confirm whether ExternalReviewers role should have admin privileges to edit and add review comments? Basically we dont want ExternalReviewers users to have edit access to CMS. They should be able to only edit/add review comments. Is this possible?

[2020-03-31 08:44] barteksekula commented on #121
ExternalReviewers group does not need any kind of admin/edit priviledges or access to any content.
The default nuget install should set it all up for you:
https://github.com/advanced-cms/advanced-reviews/blob/master/src/alloy/web.config.transform#L17

By default the members of ExternalReviewers will not be able to login in to both Edit & Admin mode.

[2020-03-31 08:44] #121 closed

[2020-04-06 11:56] Anish-Peethambaran opened #122 "How to differentiate between internal and public URL in live site for Links"
For live site, we have two URL's , public and internal URL, something like test.com and test.prod.dxcloud.episerver.net. When we create view/edit links, links will be generated based on the current URL or do we need to add any settings for this?

Say for example, when I create a view link in internal site, test.prod.dxcloud.episerver.net, whether it will create externalContentView with test.prod.d

[2020-04-07 10:53] barteksekula commented on #122
I think the links are relative, so the host is not included.
so, both
https://public.site.com/externalView....
and
https://internal.site.com/externalView....
should work

is this ok? if not then it will be easy for you to do redirects in the webserver

[2020-04-07 17:23] Anish-Peethambaran commented on #122
Okay. One more query. Is it possible to force the user to give a PIN while creating external content view when PIN security is enabled? Now, first we need to create the View link, then edit the link and add PIN. Basically we want to restrict the user from sharing the link via email without creating a PIN. Is this possible?

[2020-04-07 17:34] barteksekula commented on #122
So you would like the PIN input to appear while creating the link, correct?

[2020-04-08 07:27] Anish-Peethambaran commented on #122
Yes, so that user is reminded to enter PIN. Currently the user can create the link and share via email without a PIN. It would be a good feature to have a property to indicate if its a mandatory field or optional.

[2020-04-08 07:34] barteksekula commented on #122
I agree, it makes sense.

[2020-04-15 13:26] barteksekula commented on #122
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.5.6

[2020-04-15 13:26] #122 closed

[2020-04-15 13:27] barteksekula commented on #122
You will now have the option to require a PIN before adding a new link.
https://github.com/advanced-cms/advanced-reviews#pincodesecurityoptions

[2020-05-06 14:26] Mordrag opened #126 "LoadedContent event should be intercepted when previewing projects"
Hi,
when previewing a project and content is being loaded with the content loader the published version is returned instead of the previewed version.

I would suggest to attach to the LoadedContent event and exchange the content with the corresponding project item.

See the following POC for implementation details:
[AdvancedReviewInitModule.zip](https://github.com/advanced-cms/advanced-reviews/fil

[2020-05-06 14:57] barteksekula commented on #126
@Mordrag can you please add steps to reproduce? was the 'link' added while in the project mode?

[2020-05-06 15:24] Mordrag commented on #126
Hi @barteksekula
reproduce like this:

1. Start alloy
2. Create a new project
3. Open a page (e.g. Alloy Plan)
4. Change the name, do not publish
5. Open cms preview -> new name is shown in menu, breadcrumb & content -> all good
6. Generate an external preview link for the page -> menu & breadcrumb show old name
7. Generate an external preview link for the project -> menu & breadcrumb show old nam

[2020-05-06 16:00] barteksekula commented on #126
i dont see the creation/selecting a project in the steps. can you please add it?

[2020-05-06 16:06] barteksekula commented on #126
brw. are you able to reproduce in the test/clean alloy?

[2020-05-11 10:53] baier commented on #106
@jtonvang I'm actually a she (og norsk, i likhet med deg, antar jeg? :) ) We had to postphone adding this feature, sorry about the delayed response. Now as I'm revisiting this, I'm experiencing some issues, so I'm not able to test. But with our SMTP configuration we have the enableSsl as a requirement, so it won't be possible to remove that for us. Will test some more once I figure out how to solv

[2020-05-11 11:52] baier commented on #106
@barteksekula Now I've have tested: When removing the enableSsl and/or setting it to false, no email is sent, and the console error is gone. We use a office365-SMTP-server. Even tried adding SpecifiedPickupDirectory (as I've tried once before on matkun's suggestion), and no email is generated. This is truely odd.

[2020-06-05 08:15] argetgarzjla commented on #103
Hi,

due to shifting priorities, we weren't able to follow this up immediately,
In the meantime, we have found a workaround and have implemented the system.

Thank you for your time. You can close this question now,
Sincerely,
Arne

[2020-06-05 10:04] barteksekula commented on #103
@argetgarzjla could you please share the workaround?

[2020-06-08 15:58] #103 closed

[2020-06-19 10:14] #8 closed

[2020-06-19 11:40] #53 closed

[2020-06-22 10:12] barteksekula commented on #126
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.6.0

[2020-06-22 10:12] #126 closed

[2020-06-22 10:14] barteksekula commented on #126
We added a way to intercept all Get & GetChildren calls to IContentLoader.
However, they are turned off by default because of multiple reasons.
More info here:
https://github.com/advanced-cms/advanced-reviews#contentreplacement

[2020-06-22 10:14] barteksekula commented on #126
@Mordrag would appreciate feedback if v0.6.0 works for you with the new options.

[2020-06-23 13:09] #73 closed

[2020-06-23 13:09] barteksekula commented on #73
Will be released soon in 0.7.0

[2020-06-23 15:53] colincass opened #131 "Object reference error in PreviewUrlResolver.GetUrl when link is external"
Stack trace here:

System.Web.HttpException (0x80004005): Error executing child request for handler 'System.Web.Mvc.HttpHandlerUtil+ServerExecuteHttpHandlerAsyncWrapper'. ---> System.Web.HttpException (0x80004005): Error executing child request for handler 'System.Web.Mvc.HttpHandlerUtil+ServerExecuteHttpHandlerWrapper'. ---> System.Web.HttpUnhandledException (0x80004005): Exception of type 'Syste

[2020-06-23 15:56] colincass commented on #131
Hi all: I can submit a fix for this if you'd like, but I don't have permission to push a new branch.

[2020-06-23 16:28] barteksekula commented on #131
you have to fork first and make a cross repo PR

[2020-06-23 17:01] colincass commented on #131
https://github.com/advanced-cms/advanced-reviews/pull/132

[2020-06-23 17:14] barteksekula commented on #131
just for the record, in order to repro one would have to have an external link in linkitemcollection?

[2020-06-23 17:33] colincass commented on #131
Yes.

[2020-06-24 08:06] #131 closed

[2020-06-24 08:06] barteksekula commented on #131
Fixed by Colin in v0.7.0

[2020-06-24 16:59] colincass opened #133 "ReplaceContent and ReplaceChildren = true breaks Episerver DataFactory"
The easiest way to reproduce this issue is under Admin - Config - Manage Websites, try to add a new site. When you bring up the page tree to pick a start page, you will receive an exception. Details follow:

Exception information:
    Exception type: NullReferenceException
    Exception message: Object reference not set to an instance of an object.
   at EPiServer.DataFactory.Get[T](ContentReferen

[2020-06-24 21:13] #133 closed

[2020-07-02 08:58] nguyenminhvuong opened #136 "Unpublished block is not display in review when used contentArea.FilteredItems in ContentAreaRenderer"
I created a class named BootstrapAwareContentAreaRenderer inherited from **ContentAreaRenderer**. In this class, I override two methods:

[code]

I found the root cause is contentArea.FilteredItems. Because of **FilteredItems** does not include unpublished blocks.

My workaround is using **ExternalReview.IsInExternalReviewContext** to check the page is in review mode or not.

`RenderContentAreaIte

[2020-07-13 21:59] Jptc97 opened #137 "External Links wont load in incognito mode"
After install the Nuget package, I generated a external link to test if it works in incognito mode but it wouldn't load the images and some parts of the footer. I have not implemented any of the options class or any of that. Is that the reason why its not loading?

[2020-07-14 06:58] barteksekula commented on #137
@Jptc97 does it work for you on a clean Alloy site? we would need some more info what's missing i.e. if the images are on the same domain, how they are included on the page (ContentArea? Url?), what is in your footer?

[2020-07-14 13:54] Jptc97 commented on #137
@barteksekula Hey, I figured it out... I had to add roles to the page to allow who can read the page. After adding that role it worked for me. Thank you

[2020-07-14 13:54] #137 closed

[2020-07-16 13:47] xecrets opened #138 "Testing code apparently left behind causing URLs to be generated without trailing slash"
Commit https://github.com/advanced-cms/advanced-reviews/commit/c555f4d153e8749aa9abba9ac4c85f43ae9a9dae causes changed behavior, and from the commit-comment it seems to be code that is "just for testing". In any case, it should not set RoutingOptions.UseTrailingSlash to any value, but let the consumer decide.

[2020-07-16 14:39] barteksekula commented on #138
fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.1

[2020-07-16 14:39] #138 closed

[2020-08-03 14:14] Mordrag commented on #136
Just stumbled upon the same issue. We are using the FilteredItems a lot in our project and changing the code as suggested above is not an option for us.

For me it looks like the IPublishedStateAssessor is the culprit here. I created a simple decorator around the default service which seems to help. Maybe you can have a deeper look:

[code]

[2020-08-06 08:45] barteksekula commented on #136
Guys, what is the reason you are rendering content area items yourself rather than using PropertyFor?
https://github.com/episerver/alloy-mvc-template/blob/master/src/Alloy.Mvc.Template/Views/StartPage/Index.cshtml#L4

[2020-08-06 08:54] barteksekula commented on #136
@benklaw just wanted to make sure - you are not using a custom renderer right?
@nguyenminhvuong your workaround that you mentioned - you did apply that only once in your custom BootstrapAwareContentAreaRenderer right?

[2020-08-06 09:07] barteksekula commented on #136
anyway @benklaw your solution works great, would you like to contribute a PR?

[2020-08-06 09:12] nguyenminhvuong commented on #136
@barteksekula: yeah, I applied it in one place.

I use PropertyFor in view layer too, I also use FilterItem because of personalized purposes.

[2020-08-10 08:13] pavel-klevtsov opened #143 "Incorrect ExternalReview link in case the original link contains query parameters"
Hi.

Let's say we have an Url property like this:
![url_edit](https://user-images.githubusercontent.com/67944494/89760397-f70e3400-daf4-11ea-9c71-325af1da3bfa.png)
User-friendly link will be "_/service-message-page/?service=Retired_"
When we call for **@Url.ContentUrl(LinkUrl)** in ExternalReview mode, the result will be something like "_/service-message-page/?service=Retired/externalContentView/7

[2020-08-10 11:31] barteksekula commented on #143
@pavel-klevtsov Could you please add a bit more code, just to make sure I understand.
I've tried to reproduce it in the same site but I failed.

Please include:
1. Model property
2. How do you render that property in your view

[2020-08-10 11:59] barteksekula commented on #143
@pavel-klevtsov I would appreciate if you could test this out https://github.com/advanced-cms/advanced-reviews/pull/144

[2020-08-10 12:33] pavel-klevtsov commented on #143
@barteksekula I can confirm it's working fine, thanks. It fixes first issue. Do you need more info about the second one?

[2020-08-10 13:20] barteksekula commented on #143
Yes please

[2020-08-11 07:29] pavel-klevtsov commented on #143
@barteksekula
Let's say we have a special "error page" that we use to show any error messages like "Page not found", "Under construction" and so on. Exact message is regulated by query param like _/service-page/?service=Asset_Update_
Let's say we have a home page configured in CMS but we do not want to show it. Instead we want to show the error page with a query param "_?service=Asset_Update_".
We

[2020-08-11 13:25] barteksekula commented on #143
Can you please share the code?
I mean property type and how it's rendered in the view.
So just to make it clear, why do you need that property for the external review process?

[2020-08-11 14:13] pavel-klevtsov commented on #143
It is all about CMS editing. So there is no view and to rendering.
![image](https://user-images.githubusercontent.com/67944494/89907136-f0ff7c80-dbf4-11ea-88ae-2b5ce3acd85e.png)
![image](https://user-images.githubusercontent.com/67944494/89907490-6bc89780-dbf5-11ea-95d5-cced31f77480.png)
![image](https://user-images.githubusercontent.com/67944494/89907847-d974c380-dbf5-11ea-8a28-2fa276093b30.png)

[2020-08-11 20:30] barteksekula commented on #143
It seems to me that it should not be possible to create an External Link if the current page is a shortcut correct?

[2020-08-11 21:10] barteksekula commented on #143
Sorry but I don't get it. I added a page which is a shortcut to another website with query string param.
![image](https://user-images.githubusercontent.com/1321664/89949053-8a478680-dc27-11ea-8014-1e667b5f5e15.png)
And the url resolves correctly:
http://localhost:8080/en/externalContentView/46def7f1-2134-42ce-886b-957affcd905d
resolves to the shortcut url I used.

[2020-08-11 21:14] barteksekula commented on #143
If you really need a fix for that then probably the best and fastest way would be for you to fork this repo and add a reproducible scenario, that would be a huge help :)

[2020-08-11 21:15] barteksekula commented on #136
Fixed in https://github.com/advanced-cms/advanced-reviews/pull/144

[2020-08-11 21:15] #136 closed

[2020-08-12 08:25] barteksekula commented on #143
The issue with UrlResolver was fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.3
Please add a new issue for the shortcut, ideally with a reproducible code. Thanks

[2020-08-12 08:25] #143 closed

[2020-08-12 10:32] pavel-klevtsov opened #145 "Incorrect link in External review links widget for Home page shortcutting the link with query string"
Since the issue happens in CMS mode, there is no possible reproducible code, I think.
Steps to reproduce:
1. Go to CMS mode (_site.com/episerver/cms_),
2. open **Home page** settings (sorry, I forgor to mention before - the issue applies only to home page).
3. Set Shortcut setting. Shortcut type should be "Shortcut to page on another website" and External Link should contain something like "_/link

[2020-08-21 04:25] linhdoan opened #146 "Scrollbar in context menu for review links widget in Firefox"
The JS logic for calculating context menu height is not working with EPiServer.CMS.UI latest version (11.28.0).
The issue happen because the "mdc-list-item" class in the new UI package has been changed from height 48px to 32px.

Step to reproduce:

1. Install EPiServer.CMS.UI version 11.28.0 & Advanced.CMS.AdvancedReviews version 0.7.3
2. Add the initialization class to enable Editable link.
3. Ad

[2020-08-25 11:20] pavel-klevtsov commented on #145
Hi. Any progress on this?

Let me still provide some test code that does the same as the above steps.
This is not a working code, because the problem as I described above is happening in the CMS, but the result of this code is exactly the same.

public void Test_StartPage_ExternalReviewLink_For_ParameterizedShortcutting()
{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentReposit

[2020-08-26 07:57] MorJonSkan opened #147 "Use screenshot attachment IE11"
You cant attach screenshot for IE 11
Should it be possible to hide the “Attach screenshot”-button?
![attach screenshot](https://user-images.githubusercontent.com/36155651/91276960-7ef56e80-e782-11ea-811e-68a6b96f0ca2.jpg)

[2020-08-26 07:58] MorJonSkan opened #148 "IE11 - CSS for checkboxes are not supported"
Icons in IE 11 is all the same.

![css-ie11](https://user-images.githubusercontent.com/36155651/91277117-af3d0d00-e782-11ea-8296-7e074d45130a.jpg)

[2020-08-26 08:12] MorJonSkan opened #149 "Avatar image not displayed correct using AD login"
The avatar images are not displayed. Maybe need some instructions of how to add avatar images..
![avataricon-not-shown](https://user-images.githubusercontent.com/36155651/91277632-6043a780-e783-11ea-9fea-1c19b4b545b7.jpg)

[2020-08-31 12:35] barteksekula commented on #149
@MorJonSkan What are the urls of those broken images?
We have a custom implementation of ICustomAvatarResolver in the sample Alloy https://github.com/advanced-cms/advanced-reviews/blob/master/src/alloy/Business/AlloyReviews/AssetsCustomAvatarResolver.cs
However, by default you should see a dummy identicon:
https://github.com/advanced-cms/advanced-reviews/blob/master/src/approval-reviews/AvatarsSer

[2020-08-31 12:36] barteksekula commented on #148
Can you please check if it helps? https://github.com/advanced-cms/advanced-reviews/pull/151

[2020-08-31 12:37] barteksekula commented on #147
@MorJonSkan Could you please test https://github.com/advanced-cms/advanced-reviews/tree/bugfix/allow-disabling-attachments

[2020-08-31 18:59] #148 closed

[2020-08-31 18:59] #147 closed

[2020-09-01 16:34] gregwiechec commented on #145
Using a shortcut on StartPage is an edge case. It will be hard to solve in default implementation. But in next release it will be possible to use custom StartPageResolver:
https://github.com/advanced-cms/advanced-reviews/compare/bugfix/allow-to-override-startpageresolver?expand=1

Please check CustomStartPageResolver:
https://github.com/advanced-cms/advanced-reviews/pull/152/files#diff-b4e2e818e33

[2020-09-01 16:38] gregwiechec commented on #149
@MorJonSkan Maybe AD does not return userName in RouteData and we have 404:
https://github.com/advanced-cms/advanced-reviews/blob/0c477afb58abc9e3843b63367a6172eceda2ef03/src/approval-reviews/AvatarsService/ReviewAvatarsHandler.cs#L34

We don't have environment with AD. Is there any chance that you could help us to debug this?

[2020-09-03 09:44] barteksekula commented on #146
@linhdoan hi, I'm not able to reproduce this, it only happened to me after I zoomed in in my browser (to 130%).
![image](https://user-images.githubusercontent.com/1321664/92099495-dcb93480-edda-11ea-9813-8df2f908cc9a.png)
But on 100% it works fine in all browsers.

[2020-09-03 09:57] barteksekula commented on #149
The url should be something like:
https://your.host.com/review-avatars/current_user_name.jpg

[2020-09-03 14:59] pavel-klevtsov opened #156 "404 for External Review link for pages having changed “Name in URL” property"
There is issue about routing the external review link for the pages that have “Name in URL” property changing after last published version.

Let’s say we have site http://siteName.com/ and there is an page hierarchy inside like “page1” → “page2”. The user-friendly link for the bottom page will be http://siteName.com/page1/page2/. Let’s say we created drafts (no publishing) for both inner pages cha

[2020-09-04 11:44] pavel-klevtsov commented on #145
@gregwiechec
I think using custom StartPageResolver does not help in this issue.
Let's take a look on a part of the code I provided.
...
_externalReviewLinksRepository.AddLink(ContentReference.StartPage, false, TimeSpan.FromDays(5), null)_
...

It calls for

_ExternalReviewLinkBuilder.FromExternalReview(ExternalReviewLinkDds externalReviewLinkDds)_

method, which contains these lines:

_var url =

[2020-09-04 12:19] MorJonSkan commented on #149
The url of the image will be /review-avatars/{domain}\{username}.jpg

[2020-09-04 12:32] barteksekula commented on #145
@pavel-klevtsov makes sense, would you like to give it a shot?

[2020-09-04 12:35] pavel-klevtsov commented on #145
You mean, to create a PR with the changes? Yeah, why not. Will do.

[2020-09-04 12:35] barteksekula commented on #145
Great! 👍

[2020-09-04 12:37] barteksekula commented on #149
@MorJonSkan is it possible for you to debug ReviewAvatarsHandler.cs?

[2020-09-04 12:47] MorJonSkan commented on #148
@barteksekula Confirmed ok
![image](https://user-images.githubusercontent.com/36155651/92240852-8b35a600-eebd-11ea-9fc6-b89de4017abc.png)

[2020-09-04 12:57] MorJonSkan commented on #147
@barteksekula Confirmed OK, with the configuration set to false in init module
![image](https://user-images.githubusercontent.com/36155651/92241687-ed42db00-eebe-11ea-808b-c9f7b686e7b8.png)

[2020-09-04 14:03] MorJonSkan commented on #149
@barteksekula Yes I think I found the issue. The url becomes /review-avatars/{domain}/{useraccountname}.jpg, and the route in AvatarRouteExtensions.cs only "listens" for one segement of username. The route will not be executed or activated..
I haven't tried this with Azure AD but I suspect that there will be a similar issue there.

[2020-09-04 18:35] barteksekula commented on #149
@MorJonSkan good catch, it turns out that using / and \ in the url's path is not a good idea :- )
Maybe you can verify https://github.com/advanced-cms/advanced-reviews/pull/157
It works fine for me. The default avatar provider will just render identicons but maybe you can take i further and create your own implementation that serves images from AD.

[2020-09-04 20:28] barteksekula commented on #156
@pavel-klevtsov Could you please share the steps to reproduce? Are you just generating the urls from the widget?
Because we changed that to always resolve to the start page and append the token to start page https://github.com/advanced-cms/advanced-reviews/commit/13b370937429c04169d18e8f58a666f980492b41
Do you use the project?

[2020-09-07 06:48] MorJonSkan commented on #149
@barteksekula Yes the change looks ok :)
Another approach I was think of was to remove the domain part in review-store.tsx and keep the username as before.. not 100% sure if that would work for all scenarios. So if the username contains any / or \ the last part will be used..

[2020-09-07 10:23] #149 closed

[2020-09-07 10:23] barteksekula commented on #145
@pavel-klevtsov any idea when you might be able to PR? I have some time today so please let me know about your plans.

[2020-09-07 11:00] pavel-klevtsov commented on #145
@barteksekula
I'm trying to push my branch, but what is what I have:
_Error encountered while pushing branch to the remote repository: Git failed with a fatal error.
unable to access 'https://github.com/advanced-cms/advanced-reviews.git/': The requested URL returned error: 403
Pushing to https://github.com/advanced-cms/advanced-reviews.git_
Any ideas?

[2020-09-07 11:01] barteksekula commented on #145
@pavel-klevtsov you will need to create a fork first and do a cross-repo PR.

[2020-09-07 12:26] pavel-klevtsov commented on #156
@barteksekula
1. Create a page under Home page. Name it, let's say, "testPage". Publish it.
2. Add  PageReference-typed property to Home page, point it to "testPage" page, publish it.
3. Render the property using UrlResolver.GetUrl method. The result wll be like "/testPage/".
4. Open "testPage", change Name in URL to "testPageNew". Do not publish it.
5. Go in CMS to Home page, generate a new exter

[2020-09-07 12:32] barteksekula commented on #156
@pavel-klevtsov Do you have project selected?

[2020-09-07 12:49] pavel-klevtsov commented on #156
@barteksekula Yes, the same project selected for both of pages. Can't reproduce the error?

[2020-09-07 13:15] #146 closed

[2020-09-07 13:16] #145 closed

[2020-09-07 13:34] barteksekula commented on #156
@pavel-klevtsov I've just reproduced. It will be hard to fix unfortunately but I will think about it today.

[2020-09-08 20:28] #156 closed

[2020-09-14 11:56] barteksekula commented on #145
Released in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.4

[2020-09-14 11:56] barteksekula commented on #146
Released in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.4

[2020-09-14 11:56] barteksekula commented on #147
Released in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.4

[2020-09-14 11:57] barteksekula commented on #148
Released in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.4

[2020-09-14 12:55] pavel-klevtsov commented on #145
@barteksekula Great, thank you!

[2020-09-17 09:49] pavel-klevtsov commented on #156
@barteksekula
Ok, looks like you fixed the scenario that I describer above. On the step 5 I see now the link "/testPage/externalContentView/40fe85d2-573b-48c2-94af-15828ed52904?preview_generated=True" and it is working fine.

Now let me describe another scenario.
1. Create a page under Home page. Name it, let's say, "testPage". Publish it.
2. Create another page under "testPage". Name it, let's sa

[2020-09-17 16:48] santiagomorlaverndale opened #161 "Error while trying to edit in the External Review Content Url"
I have shared an edit url so an external reviewer can check a page:
https://mydomain/externalContentReviews/818e52c0-2bd5-48f0-bf8a-4aafad8a193e but it's failing. Once I try to add a comment, it throws this error:

[code]

Could you help me with this?

[2020-09-23 03:36] nguyenminhvuong opened #162 "How to use SiteDefinition.Hosts instead of SiteDefinition.Current.SiteUrl when send email"
Hi,

This is not a product issue. I just want to find a solution to my personal issue.

When send an email with review link, the addon uses SiteDefinition.Current.SiteUrl as a primary domain. But I want to use another domain in SiteDefinition.Hosts.

Is there anyway to do this?

[2020-09-24 02:27] daniel-isaacs commented on #161
@santiagomorlaverndale  Just wondering, is your site multi-language? I've got this same error on a multi-language site, but it's working on a single-language site. Curious if that could be related.

[2020-09-24 02:36] santiagomorlaverndale commented on #161
@daniel-isaacs No, my site is just an US-English site. I had to revert to version 0.7.3 instead of 0.7.4 to make it work.

[2020-09-24 08:26] nguyenminhvuong opened #164 "Review panel has been disappeared when left click to create new review entry"
The issue occured from version 0.7.3. It's ok in version 0.7.2

![Screenshot_1](https://user-images.githubusercontent.com/14576574/94120437-4d072300-fe7a-11ea-96da-e0836bedf9b3.png)

[2020-09-24 09:10] barteksekula commented on #164
@nguyenminhvuong  what if you expand it using the chevron icon?

[2020-09-28 03:15] nguyenminhvuong commented on #164
if I click on the chevron icon only, it expands the panel. When I try to create a new review, the panel disappears completely and no review form displayed.

I tested on the Alloy site with external review v 0.7.4

[2020-09-28 08:35] #162 closed

[2020-09-28 11:18] #161 closed

[2020-09-28 12:04] barteksekula commented on #164
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.5

[2020-09-28 12:04] #164 closed

[2020-09-28 12:05] barteksekula commented on #162
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.5

[2020-09-28 12:05] barteksekula commented on #161
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.5

[2020-10-04 20:09] barteksekula commented on #162
@nguyenminhvuong were you able to upgrade to 0.7.5 to give it a try? there's an abstraction on top of SiteDefinition.Current.SiteUrl

[2020-10-07 07:24] nguyenminhvuong commented on #162
@barteksekula thanks so much. It works for me

[2020-10-07 09:07] eddvedd opened #166 "Edit link showing blocks from commondraft instead of unpublished project"
Hi,

Using version 0.7.5.

When a page is a part of a project and you make changes to a block in the project without publishing, the Edit-link does not work as expected. Instead of working in the same way as the View-link, the Edit-link is showing latest version from commondraft instead of changes made to the block in the project.

When loading Unpublished version in ReviewsContentLoader.LoadUnpub

[2020-10-08 09:33] nguyenminhvuong opened #167 "How to remove authentication in review edit mode"
Hi,

My customer wants to remove the authentication when open the edit link. I know it's not possible, but just want to find a solution for it.

Thanks

[2020-10-14 12:08] harinarayanann opened #168 "/externalContentReviews/AddPin 400 (Bad Request) Request failed with status code 400"
Hi,
We are getting 400 error while trying to add pin, its happening only in the external review add pin.
![image](https://user-images.githubusercontent.com/46997692/95989335-c1b0fa00-0e47-11eb-9d9a-19df78b7f964.png)

![image](https://user-images.githubusercontent.com/46997692/95987031-819c4800-0e44-11eb-9986-4da89c467490.png)

Note: It's happening on my project only, Alloy project working fine.

p

[2020-10-14 14:05] harinarayanann commented on #168
Adding to the above, I'm not seeing "externalPageReview" in my project but I can see in the Alloy
MyProject:
![image](https://user-images.githubusercontent.com/46997692/95999591-a9df7300-0e53-11eb-84f0-0f3f272b1f0a.png)

Alloy:
![image](https://user-images.githubusercontent.com/46997692/95999504-92a08580-0e53-11eb-9464-39dbe450aedf.png)

[2020-10-19 06:27] harinarayanann commented on #168
We came to know that it's happening due to Referrer-Policy we have in Web.config.

![image](https://user-images.githubusercontent.com/46997692/96408985-3302fb00-1202-11eb-8a8b-036d6fd18f95.png)

[2020-10-19 10:32] harinarayanann commented on #168
Finally, I've updated the below code and it's working fine now.
![image](https://user-images.githubusercontent.com/46997692/96439507-63f42780-1224-11eb-8f4f-b11a77c90257.png)

[2020-10-19 11:03] puneetdev opened #169 "External link not picking up correct language"
If a content exists in multiple languages, while creating the external link for a content, the external link is picking up the primary language of the content, not the currently selected language. For example, if a content exists in 2 languages, de-ch and fr-ch and the primary language is fr-ch. Then, if we create the external review link for the content in de-ch, the link is showing the content f

[2020-10-21 13:59] tkumbari commented on #169
@barteksekula @gregwiechec , Happy to hear feedback

[2020-10-21 19:30] barteksekula commented on #169
@puneetdev are you able to reproduce on the sample alloy? I've just tried and it works fine for me.
Please provide steps to reproduce.

[2020-10-21 21:56] barteksekula commented on #167
@nguyenminhvuong Sure it's possible. Just give all users the rights to `externalContentReviews` & `EPiServer/advanced-cms.ExternalReviews` locations like this:
[code]

[2020-10-22 07:58] #168 closed

[2020-10-22 07:58] #166 closed

[2020-10-22 08:13] harinarayanann opened #172 "Personalization through Vistorgroup is not considering in preview mode"
Hi,
When we apply personalization using visitor groups, the preview/drafted page is not considering personalization and displaying all the blocks available in ContentArea.

Please let us know if any workaround.

Regards,
Hari

[2020-10-22 08:18] barteksekula commented on #172
Hi,
You are not the first one asking for VG support. There is no workaround as of now.
We will think about adding support for adding the ability to add the option to `View as user/role` option to tokens.

[2020-10-22 08:50] harinarayanann commented on #172
Got it, thank you for the reply.

[2020-10-22 08:53] barteksekula commented on #167
Please confirm if it works and close the ticket. I will add it to our FAQ.

[2020-10-22 17:46] barteksekula commented on #172
@harinarayanann would you expect to be able to associate a VG when creating an external review link?

[2020-10-23 06:53] nguyenminhvuong commented on #167
Thanks @barteksekula

I tested it in the Alloy site, it worked perfectly. But in my project, it returns 404. I'm investigating.

Please close the ticket.

Thanks for your support

[2020-10-23 06:53] #167 closed

[2020-10-28 03:57] nguyenminhvuong opened #173 "View link and edit link has been removed automatically when updating page"
Hi,

I tested it on Alloy site with version 0.75 & 0.76. Here are reproduce steps:

1. Go to Editor mode
2. Edit published page or unpublished page
3. Add new external reviews link (view link or edit link)
4. Update something on the page
5. The external reviews link is disappear

[2020-10-28 05:38] barteksekula commented on #173
the links are associated with a specific version. so one WorkID has many edit/view links. it is not possible to create a version agnostic token.

[2020-10-29 06:33] barteksekula commented on #173
@nguyenminhvuong can we close the ticket? or there's something more you would like to bring up?

[2020-10-29 14:40] barteksekula commented on #166
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.6

[2020-10-29 14:40] barteksekula commented on #168
Fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.7.6

[2020-10-29 14:41] barteksekula commented on #168
We are no longer using referrer.

[2020-10-30 05:49] enragedtadzy opened #174 "NullReferenceException"
Hi there,

Recently installed this addon on my website and receiving the following errors on some pages, but not all... And there is no consistency between the pages receiving the error, and the ones that aren't. From what I can see at least. Hoping someone is able to help provide some insight.

It is quite a custom solution and the error doesn't really help to point me in the right direction...

[2020-10-30 08:44] barteksekula commented on #174
@enragedtadzy We have this code https://github.com/advanced-cms/advanced-reviews/blob/9e7ab116ea7296563b608d534ba5685244573047/src/external-reviews/EditReview/ConvertEditLinksFilter.cs#L33 which makes sure all images are accessible for an unauthenticated user.
Would it be possible for you to clone the repo, build locally a debug version and retry to see a better stacktrace?

[2020-11-02 23:08] enragedtadzy commented on #174
Thanks @barteksekula for getting back to me.

After some further consideration we have decided to drop this addon from our solution for the time being. Given our custom solution there are quite a few implications we've identified.

The error that I posted previously was caused by images hosted in the solution being referenced by the templates, and the routes for these images were not being found d

[2020-11-02 23:08] #174 closed

[2020-11-04 08:15] nguyenminhvuong commented on #173
OK I got it. This is a new feature that I don't know. Please close a ticket

[2020-11-04 08:15] #173 closed

[2020-11-04 08:23] nguyenminhvuong opened #176 "New feature request: view as a visitor group panel"
Hi,

My customer wants to have a panel like this when reviews a page:

![Screenshot_1](https://user-images.githubusercontent.com/14576574/98086422-5049f180-1eb1-11eb-9ea7-89e4b323c1d7.png)

Is it possible? Please consider

Many thanks

[2020-11-04 14:36] barteksekula commented on #176
It was already added in https://github.com/advanced-cms/advanced-reviews/pull/175
Will be release in v0.8.0 soon

[2020-11-04 14:37] barteksekula commented on #172
It was already added in https://github.com/advanced-cms/advanced-reviews/pull/175
Will be release in v0.8.0 soon

[2020-11-04 14:37] barteksekula commented on #169
@puneetdev any response?

[2020-11-04 14:39] barteksekula commented on #174
Hard to say about the images but it would be great if you could provide more info so we can adjust our code to at least not fail miserably in such scenarios.

When it comes to Visitor Groups support then it was one of the most wanted features - to be able to associate a list of Visitor Groups with a link.

It was already added in https://github.com/advanced-cms/advanced-reviews/pull/175
Will be re

[2020-11-05 19:12] barteksekula commented on #176
The visitor groups has to be defined during creation of the review link. But the functionality works as you would expect.
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.0

[2020-11-05 19:12] #176 closed

[2020-11-05 19:12] barteksekula commented on #172
The visitor groups has to be defined during creation of the review link.
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.0

[2020-11-05 19:12] #172 closed

[2020-11-05 19:12] barteksekula commented on #174
The visitor groups has to be defined during creation of the review link.
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.0

[2020-11-09 07:30] harinarayanann opened #177 "SEO Toolbox is redirecting the drafted link also to actual page"
Hi,
I was facing an issue that, the drafted review links are always redirecting to the actual page, after a day of research I came to know that our redirect manager ([https://seotoolbox.net/]) is redirecting to the actual page.

**Suggested Fix in SEO Toolbox:**
To avoid that we have to add the below two URLs to the Ignored list.

![image](https://user-images.githubusercontent.com/46997692/9851180

[2020-11-09 11:10] barteksekula commented on #177
What is the expected fix for your issue?

[2020-11-09 11:10] #169 closed

[2020-11-09 11:10] barteksekula commented on #169
Closed due to inactivity.

[2020-11-12 06:32] harinarayanann commented on #177
I have highlighted above.

[2020-11-12 07:32] barteksekula commented on #177
But what is this SEO Toolbox?

[2020-11-12 07:38] harinarayanann commented on #177
It's and Redirects manager (another plugin) we can get more details from here https://seotoolbox.net/. [](https://seotoolbox.net/)

[2020-11-12 07:39] barteksekula commented on #177
And the bugfix is expected in our code or in their code?

[2020-11-12 07:46] barteksekula commented on #177
Or maybe it's just something we could add to our README? Like, "if you have mogul seo toolbox then you might want to add this and that to ignored list". Would you like to contribute?

[2020-11-12 08:00] harinarayanann commented on #177
Yes, That will be helpful. Sure I can,

[2020-11-25 15:04] YamitMoran opened #178 "EPI Server Advanced.CMS.AdvancedReviews"
When the editor adds the gadget for the external reviews, the script, that comes from the advanced cms package, returns in the response a 302 status code and a location redirect url, which is the login page for Episerver.
When the CMS is accessed again, it completely crashes and the page stays blank, without any content, except for the admin panel at the top.

[2020-11-25 20:43] barteksekula commented on #178
@YamitMoran does it work for you in the sample alloy? we would need some more info as this add-on works successfully for hundreds of clients.

[2020-11-26 08:37] YamitMoran commented on #178
Thanks @barteksekula. This gadget works for some users and for others it doesn’t, which may lead to the conclusion, that this is a permission problem, stopping EpiServer from loading the script.
![SS](https://user-images.githubusercontent.com/75030906/100326984-52e0c800-2fd3-11eb-9a09-102a995c12fb.png)

[2020-11-29 15:02] barteksekula commented on #178
Do you have web.config entries?
They should have been added by this nuget transform:
https://github.com/advanced-cms/advanced-reviews/blob/master/src/alloy/web.config.transform#L25

[2020-11-30 09:46] YamitMoran commented on #178
Thanks, @barteksekula!
We compared the our Web.config file in the project with the source code, that you sent.
Everything seems to be the same, except for one line, where a “rootPath” attribute is set in the “protectedModules” element (it’s in the screenshot).
Do you know if this can be the cause of our problem?
![protectedModules](https://user-images.githubusercontent.com/75030906/100593897-a6b81

[2020-12-02 01:47] Halloweenh20 opened #179 "Multi-Language Editing"
We have a CMS in both French and English and we want to use Advanced-Reviews. The problem is... as it is right now, it does not seem to work.

Here is how to duplicate the issue
0. Start with English
1. Create a project
2, Edit a page (change the title) so it gets into the project
3. Add a block to the page - so it gets added to the project
4. Switch to French and do the same thing

The page in bo

[2020-12-07 14:52] #179 closed

[2020-12-11 21:09] barteksekula commented on #178
Can you give it a shot and change it?

[2020-12-22 20:57] YamitMoran commented on #178
Hi @barteksekula ,
We tried and got he following error:
![2020-12-22_22-56-45](https://user-images.githubusercontent.com/75030906/102932456-004adc80-44a9-11eb-99a8-a680098a9370.jpg)
Could you please advise?
Thanks!

[2020-12-23 10:00] barteksekula commented on #178
@YamitMoran that's not what I meant. Please follow the link from my previous comment.
Make sure you have the correct <location> nodes in web.config.
If you're saying that the issue is related to security then some users (who cannot access the scripts) might not be in correct roles.

[2020-12-23 14:40] barteksekula commented on #178
And it's not about 'protectedmodules' but about <location>.
Please make sure that all correct users can access that javascript file that you have in your screenshot.

[2020-12-31 12:52] YamitMoran commented on #178
Thank you, @barteksekula!
We will check again and update soon.

[2021-01-06 10:11] barteksekula commented on #179
Released in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.1

[2021-01-14 09:42] mohsenhosseinalizadeh opened #182 "Getting different result from contentloader in the external review context"
I faced this issue with the `ContentLoader.Get` method when we are in the External Review Context. Actually, the `Get` method of the ContentLoader returns different results when you call it twice in a row! Which is very strange.
I have tested it on the Alloy template on the repository with the latest version and I faced this issue when there is an ajax request.

Steps to reproduce:

1- Login to th

[2021-01-14 13:50] barteksekula commented on #182
Why do you need that Fetch in ContentBlockController?

[2021-01-14 14:17] mohsenhosseinalizadeh commented on #182
@barteksekula It is a simple example to reproduce the issue. In my real project, I have an ajax request and I need to fetch data.

[2021-01-14 14:34] barteksekula commented on #182
That's not supported unfortunately. You are not supposed to pass the token around.
For now token can only be used inside a single request, we don't support passing it around via xhr requests.
You would have to write the code yourself that gets the common drafts in the ajax call.
Also you would need to validate if the token is valid and not expired yourself (this is handled by us by default by part

[2021-01-15 09:24] mohsenhosseinalizadeh commented on #182
Thanks a lot for your help @barteksekula . So should we close this ticket?

[2021-01-15 10:01] barteksekula commented on #182
Do you know how to write that code?
Sure, you can close.

[2021-01-15 10:12] mohsenhosseinalizadeh commented on #182
Yeah, I can cope with it!

[2021-01-15 10:12] #182 closed

[2021-01-28 22:14] daniel-isaacs opened #183 "Feature request: ability to extend "Share Link" options"
We're looking at using an SEO tool (SiteImprove, in this case) to use the external review links to analyze draft content before it goes live.

I'm wondering if there's any way to extend the "Share Link" functionality to give an option to (for example) "send link to webservice"?

[2021-01-29 14:32] daniel-isaacs opened #184 "PIN Codes triggering 500 error on Foundation site"
When I log in via PIN code to an external review link on a foundation-mvc-cms, it triggers a 500 error.

Steps to reproduce on a foundation-mvc-cms site:
1. enable Pin Code security via initialization module
2. create an external review link, and set a PIN
3. open link in new incognito window (so I'm not authenticated)
4. enter PIN

Result:
Correctly redirects to external review link -> 500 error

[2021-02-02 14:42] daniel-isaacs commented on #184
To recreate in Alloy template:
Add _Html.AntiForgeryToken()_ to a page View and then create a review link with pin code, then browse to the page in an incognito window and enter the pin code.

[2021-02-02 21:17] barteksekula commented on #184
@daniel-isaacs can't you skip the token validation for review links?

[2021-02-02 21:21] barteksekula commented on #184
The PIN log in form is very simple. https://github.com/advanced-cms/advanced-reviews/blob/master/src/external-reviews/PinCodeSecurity/ExternalReviewLoginController.cs#L49 and I don't understand why the token is being validated. Any ideas?

[2021-02-04 19:18] barteksekula commented on #178
@YamitMoran any news?

[2021-02-04 19:20] barteksekula commented on #183
@daniel-isaacs but you would like to be able to just HTTP POST the Link to that webservice url?

[2021-02-04 19:35] YamitMoran commented on #178
Yes! thank you @barteksekula it works great now.

[2021-02-04 19:35] #178 closed

[2021-02-04 20:20] barteksekula commented on #184
@daniel-isaacs I managed to reproduce the issue when running Foundation site.
I think you need to tell the antiforgery validator which claim to use as the ID of the session.

Please add this to https://github.com/episerver/Foundation/blob/develop/src/Foundation/Global.asax.cs#L21
[code]

After adding this line everything started to work.

[2021-02-17 11:29] LennartEriksson opened #185 "Share view links gives a 400"
I'm trying to share a review link - I get the dialog to fill out email address, but when I press send
I get a 400 response

[2021-02-20 16:49] barteksekula commented on #185
Stacktrace would be very helpful.

[2021-02-23 14:49] barteksekula commented on #185
@LennartEriksson do you happen to have the stacktrace for the exception?

[2021-02-23 14:50] barteksekula commented on #184
@daniel-isaacs any news? Do you want me to contribute the fix to foundation or rather add this to our docs?

[2021-02-23 14:51] LennartEriksson commented on #185
Managed to fix the issue - was a miss configuration in our code

[2021-02-23 14:52] barteksekula commented on #185
OK thanks

[2021-02-23 14:52] #185 closed

[2021-03-29 17:07] RhinonMike opened #186 "External Editable View Issue"
We're having issues getting the Editable View link working right.   The "View" link works fine and shows our draft content.  The content in the "Edit" view, where the reviewer can add pins/comments, shows the published content, not the draft content. Is this how it's supposed to work?  Permissions appear to be set up correctly as they have to log in and enter their reviewer name.

[2021-03-29 17:33] barteksekula commented on #186
It's supposed to show the same unpublished content.
There's a sample Alloy in this repository where you can see how it works when properly configured.
Please take a look, maybe you can spot an issue in your configuration.

[2021-03-29 17:34] barteksekula commented on #186
https://github.com/advanced-cms/advanced-reviews#development-if-you-would-like-to-help-in-development

[2021-03-29 18:14] RhinonMike commented on #186
I'll try that, thanks!

[2021-03-29 20:34] RhinonMike commented on #186
This looks to be a duplicate of #177.  Sorry!

[2021-03-29 20:34] #186 closed

[2021-05-04 20:46] OMGPizzaGuy opened #187 "Media "for this page" not available on page with External Review links"
For anonymous or non-editor users media on external review links, the media will not show if in the "for this page" content asset folder.

Usage in view:
`
@section css {
        <style>
            .hero-image.story {
                background-image: url(@Url.ContentUrl(Model.CurrentPage.HeroImage));
            }
        </style>
}
`

Here's an external review link valid until May 9, 2021 to se

[2021-05-04 21:01] #184 closed

[2021-05-11 15:22] tracieedler opened #188 "Staging link"
I had lost my internet while creating a staging link on a web page and now everytime I try to stage that same page it gives me a 500 error in the staging link. It works on all the other pages not the one that I lost interner while creating a staging link.  Need help.

[2021-05-14 16:19] barteksekula commented on #188
@tracieedler just so I understand - it happens when you click here?
![image](https://user-images.githubusercontent.com/1321664/118299384-f6ba2380-b4e0-11eb-8404-ca0548a8da4a.png)
can you provide any callstack?

[2021-05-14 18:22] tracieedler commented on #188
@barteksekula I can create the staging link but when someone views it for that specific page they get a 500 error. If I create a staging link on other pages it works just fine.

[2021-05-14 19:10] barteksekula commented on #188
could you please provide stacktrace?

[2021-05-27 22:27] philippeop opened #190 "Unable to scroll while in review mode"
We're using version 0.8.3.0 and noticed that scrolling the page vertically is only possible when the review mode is turned off.

Is intentional?

[2021-05-28 11:50] pavel-klevtsov opened #191 "ContentLoader.Get incorrect behavior in external review mode"
Steps to reproduce.
1. Create a page and a block like this:
public class TestContentBlock : BlockData
{
public virtual string Title { get; set; }
}

and

public class TestContentPage : PageData
{
public virtual string Title { get; set; }

[AllowedTypes(typeof(TestContentBlock))]
public virtual ContentReference Reference { get; set; }
}

2. Create a view like this:

@model TestContentPage

@{
    v

[2021-05-28 12:19] pavel-klevtsov commented on #191
There is another, less obvious issue that happens because of ContentLoader.Get incorrect behavior in external review mode. It happens when we use ContentArea and ContentAreaItemExtensions.GetContent method.
Steps to reproduce.

1. Create a page and a block like this:
public class TestContentBlock : BlockData
{
public virtual string Title { get; set; }
}
and

public class TestContentPage : PageData

[2021-06-01 09:18] nguyenminhvuong opened #192 "Cannot add External review link gadget"
Hi,

I tried to add a gadget in the admin dashboard, the popup opens and says that:

"Error: could not add component"

I go to console log and see:

![image](https://user-images.githubusercontent.com/14576574/120299042-d23db400-c2f4-11eb-850b-a44890e4f08e.png)

Do you have any idea?

[2021-06-04 06:36] barteksekula commented on #192
hi, what do you mean by admin dashboard?

[2021-06-04 07:28] barteksekula commented on #190
@philippeop No, of course it's not intentional.
I'm unable to reproduce in the sample Alloy. Could you please give it a shot yourself?
Just add the nuget to any Alloy instance or git clone this repo and run https://github.com/advanced-cms/advanced-reviews#development-if-you-would-like-to-help-in-development

[2021-06-04 07:28] barteksekula commented on #188
Closing due to inactivity

[2021-06-04 07:28] #188 closed

[2021-06-08 09:57] #187 closed

[2021-06-08 09:57] #191 closed

[2021-06-09 14:41] barteksekula commented on #191
Both issues were fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.5

[2021-06-09 14:41] barteksekula commented on #188
Issue fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.5

[2021-06-09 14:42] barteksekula commented on #187
@OMGPizzaGuy  Issue fixed in https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.8.5

[2021-06-09 23:51] OMGPizzaGuy commented on #187
Awesome! We will update soon. Thanks!

[2021-06-10 07:49] nguyenminhvuong commented on #192
I mean edit mode

[2021-06-10 08:05] barteksekula commented on #192
Can you send the full stacktrace? There must be an exception on the server.
It works fine in Alloy and we add the gadget automatically after installing the advanced-reviews.

[2021-06-10 08:17] nguyenminhvuong commented on #192
Yeah, I think so. It happens only on my project, Here is a full stack trace:

<html>
	<head>
		<meta name="robots" content="noindex,nofollow"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>
			Page could not be loaded
		</title>
		<style type="text/css">
	        body{font-size:65%;color:black;background-color:White;}
            form{font-size:1.2em;}
	        body,tabl

[2021-06-11 03:46] gregwiechec commented on #192
If this is dev environment try to "Reset settings" from My Settings menu. Maybe the databse is corrupted.

[2021-06-11 15:06] cjwahl opened #198 "Trying to view an unpublished External Review link causes a stack overflow excpetion."
I've been able to reproduce this on an alloy site running the latest version of Episerver CMS 11.20.6 using Advanced.CMS.AdvancedReviews version 0.8.5

1.) Create a new page without publishing any changes.
2.) Create an external review link.
3.) Attempt to navigate to that external review link.

[2021-06-11 17:02] OMGPizzaGuy commented on #198
Same here after upgrade to 0.8.5 - possibly related to fix for #187 ???

[2021-06-11 20:20] barteksekula commented on #198
@cjwahl @OMGPizzaGuy you're right guys. one optimization too much..
https://nuget.episerver.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.9.0 works fine

[2021-06-11 20:21] #198 closed

[2021-06-14 21:25] philippeop commented on #190
@barteksekula Thanks for the confirmation, I investigated the issue and determined it was caused by our CSS

[2021-06-14 21:25] #190 closed

[2021-06-16 01:20] OMGPizzaGuy commented on #187
I'm afraid there are still issues;
Even a review on a published page returned and error of:
GET https://dev.childrensmercy.org/advanced-reviews-image-proxy/get?token=680a54ed-8f83-4902-8eac-941b1c7f410e&amp;contentLink=17237_42905 500 (Internal Server Error)

System.NullReferenceException:
   at AdvancedExternalReviews.ImageProxy.ImageProxyHandler.ProcessRequest (AdvancedExternalReviews, Version=0

[2021-06-16 04:47] barteksekula commented on #187
@OMGPizzaGuy I don't understand why your link is like that:
https://dev.childrensmercy.org/advanced-reviews-image-proxy/get?token=680a54ed-8f83-4902-8eac-941b1c7f410e&amp;contentLink=17237_42905
it should be
https://dev.childrensmercy.org/advanced-reviews-image-proxy/get?token=680a54ed-8f83-4902-8eac-941b1c7f410e&contentLink=17237_42905

do you have any kind of url encode?

[2021-06-16 11:03] barteksekula commented on #187
I mean how do you render the images in your view?

[2021-06-16 14:43] OMGPizzaGuy commented on #187
Yep, you're correct - For the test image, I'm adding it as a background-image url in a style section and it appears to html encode that value. I'm surprised this hasn't affected us sooner. Thanks!

[2021-07-05 10:32] barteksekula commented on #192
@nguyenminhvuong any news? Have you checked @gregwiechec suggestion? I don't see our classes in the stacktrace so I'm not sure what we can do to help you.

[2021-07-05 13:27] nguyenminhvuong commented on #192
@barteksekula @gregwiechec thanks for your suggestion. I tried but it didn't work. But I found a solution, I added **<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />** into web.config

[2021-07-05 13:27] #192 closed

[2021-07-16 12:50] halloweenx8 opened #200 "Multi-language Non-CultureSpecific item not used in externalcontentview"
We have a multi-language site using CultureSpecific  and non CultureSpecific  item in a page.
When we use advanced review and externalcontentview it seems that modification to a non-culture specific item does not reflect in other language then the one it was first created with.

So the step to reproduce are
1. Site has to be with more then one language - ours are French and English
2. Data on the

[2021-07-27 07:39] harinarayanann commented on #177
Hi @barteksekula , I'm trying to push the README update branch (bugfix/177), but looks like I don't have access, getting below error, can please provide access incase if that is the case.

`Error encountered while pushing branch to the remote repository: Git failed with a fatal error.
unable to access 'https://github.com/advanced-cms/advanced-reviews.git/': The requested URL returned error: 403
Pu

[2021-07-27 08:56] barteksekula commented on #177
I think you should push to your fork first and then create a PR from your fork to this repo.

[2021-07-27 10:45] harinarayanann commented on #177
I have updated and create a pull request. Thanks

[2021-08-10 16:41] leonardofraga91 commented on #53
Hi, @barteksekula I'm facing the same problem above. I have implemented the class that enables editable links.

![image](https://user-images.githubusercontent.com/87445035/128897703-592c27a2-7363-4942-a9b7-aae38668e61a.png)

For all view links everything works fine. But when I try to create an 'Edit' link I always get the not found code.

Looking at the Browser's Network tab I found an URL that no

[2021-08-10 16:50] leonardofraga91 opened #202 "404 error on using editable link"
Hi, @barteksekula I'm facing the same problem above. I have implemented the class that enables editable links.

![image](https://user-images.githubusercontent.com/87445035/128897703-592c27a2-7363-4942-a9b7-aae38668e61a.png)

For all view links everything works fine. But when I try to create an 'Edit' link I always get the not found code.

Looking at the Browser's Network tab I found an URL that no

[2021-09-02 14:15] leonardofraga91 commented on #202
Any help?

[2021-09-04 18:54] barteksekula commented on #202
@leonardofraga91 any chance you could try to reproduce on a sample site from this repo? Or on a clean Alloy?

[2021-09-04 18:56] #177 closed

[2021-09-04 18:56] barteksekula commented on #177
Fixed in https://github.com/advanced-cms/advanced-reviews/pull/201

[2021-09-09 14:24] leonardofraga91 commented on #202
I'll try to reproduce it, I'll let you know when I finish it. Thank you!

[2021-10-28 15:41] JamesOlano opened #203 "Unable to view external review link"
Hi,

We installed the Advanced Reviews package from NuGet Package Manager on Visual studio to our solution. We tried to add an external review link while the changes on the page is not yet published. After opening the link, it now displays the error on the 2nd picture. The behavior is that “?preview_generated=True” is continuously appended on the URL.

![epi-1](https://user-images.githubuserconten

[2021-11-03 06:49] JamesOlano commented on #203
We tried to moved it outside of project context and the external review link returned 404 page if the page is not yet published. For those published pages that have drafted changes, it does not display the updated changes.

[2021-11-03 10:35] barteksekula commented on #203
This project is successfully used in numerous sites so there must be something specific to your site, some customization like custom UrlResolver or ContentAreaLoader or sth like that.
Could you try to reproduce in Alloy? It's very easy, just clone this repo and start the project.
Then you could try to add your customizations one by one to find which one is causing this.

[2021-11-08 13:35] ravindra-dange opened #204 "Image replacement not displayed in review Link"
Replace image in CMS with same name without Publishing in Draft mode, and create View/Edit link, the updated images are not displayed in View link.

[2021-11-16 20:05] barteksekula commented on #204
@ravindra-dange please send more details. how do you render the images, do you use htmlhelper? how does the display template for img look like?

[2021-11-16 20:05] barteksekula commented on #203
@JamesOlano any updates?

[2021-11-17 11:51] ravindra-dange commented on #204
Hello Bartosz,

We have added images in XHTMLString. And we render Content from XHTMLString on Page.
I see images getting Rendered in externalContentView Page in below Format.

[cid:e0973c5a-7ea1-4b3d-8acc-c5222d8a05b2]

If the version of image is added in contentLink ID while rendering the image I can see Draft image replaced:
[cid:386ec737-548e-4409-9707-0a5ac55ec288]

Can you please help me in

[2021-11-17 13:37] barteksekula commented on #204
Did you upload the screenshots?
I can see your comment like this:
![image](https://user-images.githubusercontent.com/1321664/142210834-5ebbd676-47bc-46c6-9fb6-6a01aee386be.png)

[2021-11-17 14:03] ravindra-dange commented on #204
Hello Bartosz,

We have added images in XHTMLString. And we render Content from XHTMLString on Page.
I see images getting Rendered in externalContentView Page in below Format.

![image](https://user-images.githubusercontent.com/93924713/142214952-fb30c10e-fb5f-4777-b88d-be36dc619d69.png)

If the version of image is added in contentLink ID while rendering the image I can see Draft image replaced:
!

[2021-11-18 15:21] ravindra-dange commented on #204
@barteksekula
Hello Bartosz,

I verified same issue in Alloy site by replacing the image and was able to replicate the issue:
Following image was replaced with Black Background:
![image](https://user-images.githubusercontent.com/93924713/142442173-2724bc59-fb20-424c-bfff-fa14a3756799.png)

In **externalContentView** Link I see Old image instead of replaced image:
![image](https://user-images.githu

[2021-11-18 16:58] barteksekula commented on #204
Thank you. I will investigate.

[2021-11-28 12:39] #203 closed

[2021-12-01 17:40] joemayberry commented on #178
@barteksekula The transform file you referenced above is not longer available. Do you still have a copy? I believe we are seeing the a similar issue.

[2021-12-01 17:46] barteksekula commented on #178
@joemayberry master now contains .net5 code.
.net4 was moved here:
https://github.com/advanced-cms/advanced-reviews/blob/net4_master/src/alloy/web.config.transform

what's the issue?
In 0.9.1 I removed the need for custom group `ExternalReviewers`. You can control it yourself via web.config.
The idea is that VIEW links are public
The EDIT links are only accessible by people with an account

[2021-12-01 17:56] joemayberry commented on #178
@barteksekula We are seeing a strange 403 error on the initializer.js file on the DXP for some users, but not on local dev environments. I just upgraded to 0.9.1, and pushing to integration now. Will see if that resolves the issue.

[2021-12-01 20:25] joemayberry commented on #178
@barteksekula It looks like upgrading to 0.9.1 resolved the issue. Thank you for the support.

[2021-12-01 21:31] barteksekula commented on #178
Great!

[2022-01-20 17:44] Uvarsni opened #208 "Slowness in loading of page and Images not loading"
Added a page with edit mode and while opening, it takes very long time to load full page and few images are not rendered in the site.

[2022-01-20 18:18] barteksekula commented on #208
@Uvarsni I need more details. What do you have on the page, can you run profiling, are there any exceptions in the logs.
Is it the same on all pages or only on specific?

[2022-02-22 09:11] #208 closed

[2022-02-22 10:17] barteksekula commented on #204
Sorry it took so long. I am still not able to reproduce this:
![image](https://user-images.githubusercontent.com/1321664/155111366-8de3c6d3-9f43-484d-bf3c-b12920d4bc4c.png)
The image always has the full ID `contentLink_workId`
I was not able to reproduce a scenario when there would just be the contentLink without the workID

[2022-02-22 12:01] ravindra-dange commented on #204
@barteksekula
Hello Bartosz,

Below are steps to reproduce issue:

1.	Create Project in Episerver and select the Project before Editing.
2.	Create image with Same name which needs to be replaced
3.	Go to Block where image needs to be replaced
![image](https://user-images.githubusercontent.com/93924713/155128002-bfbf6c24-21c8-4af9-bada-5d235a0371c2.png)

4.	Select new image to be replaced having sa

[2022-02-22 12:31] barteksekula commented on #204
Oh, you never mentioned you're in project mode before.

[2022-02-28 17:58] nolmsted opened #209 "Support for commerce product/category/variant pages?"
Any plans to add in support for preview urls on commerce pages?

[2022-03-03 15:32] QuirijnLangedijk opened #210 "404 on preview images due to queryparams"
Hi,

When visiting a preview link, image urls give a 404. This seems to be because the generated URLs are wrong, or break the package. For example:
`src="http://localhost:57728/ImageProxy?token=ef3ed40e-69ea-4a7b-b4fc-4a67e6405790&amp;contentLink=5517_12302?width=518&amp;height=345"`
I can find two reasons why:
1. The query parameters that are added after the contentLink seem to break the request.

[2022-03-05 15:38] robert-bondy-opti opened #211 "External review link still populating despite being deleted"
Hello,

One of our clients that uses Advanced Reviews for external review links is having an issue where the external review link they've deleted is still resolving / populating. The external review link has been deleted and that normally results in the user getting a 404 error page when going to that link. However, in this instance the user is getting a 404 error in console and then being redirec

[2022-03-21 13:07] barteksekula commented on #209
good idea, we haven't thought about it yet, but it sounds like a good candidate for the next feature

[2022-03-21 15:49] #211 closed

[2022-03-22 08:42] barteksekula commented on #209
@nolmsted are you on .net core or .net framework?

[2022-03-22 11:31] nolmsted commented on #209
Currently still on .net framework, but planning to migrate the project to .net 5 at some point this year. No problem if supported is only added for CMS 12+

[2022-03-25 18:43] Uvarsni opened #212 "External Edit Link not updating unpublished content"
When making changes in a page under a different project (apart from project: None), the changes are not reflecting in the edit link without publishing.

[2022-05-04 14:16] barteksekula commented on #210
@QuirijnLangedijk can you find out who is causing this? I don't see the issue in our test Alloy project.
You can just clone the repo, build and run.

[2022-05-18 21:30] RituM24 opened #213 "External Review Page in incognito window not rendering blocks"
Hi

We have a page with blocks and when we generate the external review link for it and view on the same browser where user is already logged in, it renders fine. However, if we copy and open this url in incognito window as anonymous user, the page loads with header, footer and basic text body, but no blocks render. The markup doesn't show anything and logs dont have any errors. We are on version

[2022-05-31 08:35] anderslysne opened #214 "external-review-component.js not loaded on external review pages"
Hello!

We have installed advanced reviews nuget package to our project, and we are having an issue with using the external review links, as we are getting 404 errors when trying to load .js and .cs files for adding comments etc. during external reviews.

When going to a review link, the javascript is being requested from
`https://<DOMAIN>/EPiServer/advanced-cms-external-reviews/ClientResources/ex

[2022-06-10 17:36] Anish-Peethambaran opened #215 "Error while sharing external link ("Share link to the content with external editor")"
I am getting error while sharing link to the content with external editor. When I click on send button, I am getting 404 error. Attaching screen shot.
Advanced.CMS.AdvancedReviews 1.0.0

![image](https://user-images.githubusercontent.com/54981074/173120538-3b232362-301a-4b1f-b004-231b7fa4cd67.png)

[2022-06-10 18:10] barteksekula commented on #213
Did you check the configuration from the Alloy added in this repository? Are you sure nothing is missing?

[2022-06-10 18:15] barteksekula commented on #215
Can you try in the Alloy attached to this repository? Everything is set up there. Maybe something is missing in your site?

[2022-06-10 18:29] #214 closed

[2022-06-10 18:37] barteksekula commented on #213
Just to make sure, you use VIEW or EDIT links? https://github.com/advanced-cms/advanced-reviews#external-review-component

[2022-06-10 18:40] RituM24 commented on #213
Hi
I use the external review url generated by the gadget. This has a GUID at the end.
Also, could you please elaborate on the Alloy configuration you mentioned above?

[2022-06-10 18:41] barteksekula commented on #214
@anderslysne Thanks for that. I completely missed that during .net core migration. Fixed in 1.1.1 which will be live soon.

[2022-06-10 18:53] #215 closed

[2022-06-10 18:54] barteksekula commented on #215
You are right. There was a problem with routing. Will be fixed in 1.1.2

[2022-06-10 18:56] barteksekula commented on #213
Does it work for you if you install a fresh Alloy.
.net core - https://docs.developers.optimizely.com/content-cloud/v12.0.0-content-cloud/docs/installing-optimizely-net-5
.net framework - https://marketplace.visualstudio.com/items?itemName=EPiServer.EpiserverCMSVisualStudioExtension

[2022-06-10 18:58] barteksekula commented on #213
Or you can also clone this repo, switch to net4 master and run the project.
The stuff you described is the most basic scenario, no special roles or anything should be needed. It is supposed to just work out of the box so there must be something special about your site that we need to find out.
custom content area loaders / custom renderers or any other custom code that changes the default episerve

[2022-06-10 19:10] barteksekula commented on #215
https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.1.2

[2022-06-10 19:10] barteksekula commented on #214
https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.1.2

[2022-08-01 21:30] RituM24 commented on #213
Hi
So we're still encountering this issue, but this time only on our int and prep environments. Local seems to be working with the same test user that's setup for int and prep too. The only difference i'm noticing here is that there are no additional image proxy get calls for when the blocks are not rendering. See screenshot :
![image](https://user-images.githubusercontent.com/105823766/182249840-

[2022-08-18 22:03] AlexandraSerzhanina opened #216 "Alloy site ( .NET Framework 4) - pages tree is not loading"
I have configured local Alloy site. I'm using code from net4_master branch as I'm interesting about .NET Framework 4.
I have created admin user and have access to admin view, however I can't see pages tree in CMS Edit view - it is not loading, and there are several issues in console.

![image](https://user-images.githubusercontent.com/72210943/185499931-290f0376-6bde-4bad-93cb-f952156f95d5.png)

[2022-08-18 23:01] barteksekula commented on #216
Hi, how did you build & run the app?

[2022-08-19 10:04] AlexandraSerzhanina commented on #216
There are my steps:
- clone repo, configure IIS and update hosts file
- create database and update connection string
- run setup.cmd and build.cmd files
- clean and build solution
- browse website from IIS

[2022-08-28 08:44] solita-kpetrov commented on #213
I also can confirm this issue in our project. For Optimizely 12 if a page has no access rights "Everyone" and an user is not authenticated, the page content is not visible by external review link. Seems Episerver code applies authorization requirement and prevents access to restricted content blocks.

[2022-08-30 06:22] cezaryzysk opened #217 ""Not found" error during using external review links"
Hey,
I am getting 404 errors on loading the Edit and View pages from External Review Links. I noticed that the problem occurs if the content has not been published yet, after publishing the page is worked normally. The rest of the features are working fine.
I tested this add-on in another application, and everything was okay.
We are using advanced-reviews v0.9.1 and Episerver v11.20.12.
I've seen

[2022-08-30 07:13] barteksekula commented on #216
@AlexandraSerzhanina are you sure there were no build errors? I've just checked and everything seemed to work.

[2022-08-30 07:59] barteksekula commented on #217
You do have the <location> nodes in web.config right?

[2022-08-30 08:03] barteksekula commented on #217
@cezaryzysk could you please try the alloy from this repository?

Please note that .net framework is still using an old version of nodejs (https://github.com/advanced-cms/advanced-reviews/tree/net4_master#requirements)

[2022-08-30 08:31] barteksekula commented on #213
are you able to reproduce the issue using the alloy from this project?
for .net framework:
https://github.com/advanced-cms/advanced-reviews/tree/net4_master#bug-reporting
https://github.com/advanced-cms/advanced-reviews/tree/net4_master#development-if-you-would-like-to-help-in-development

.net core:
https://github.com/advanced-cms/advanced-reviews/tree/master#bug-reporting
https://github.com/adva

[2022-08-30 11:08] solita-kpetrov commented on #213
for local .net core Alloy site (PIN code disabled):

1 New Page -> Landing Page
2 Add a block to 'Large content area', for example 'Teaser'
3 Update 'Visible to' for the page by unchecking 'Read' for 'Everyone'
4 Create external review link
5 Publish the page
6 The page by external review link requires login in incognito mode.

If the page is available for 'Everyone' but blocks use personalized gr

[2022-09-05 08:42] AlexandraSerzhanina commented on #216
@barteksekula no, build is successful - just checked

Actually, I was trying to set up a sample site in purpose to check how external review links are working with links to another DXP site. Maybe you could help me with that question without site setup.

We have multi-site environment, and one site contain external review page with pin code, on that external review page there is link to a page tha

[2022-09-07 06:29] nguyenminhvuong opened #218 ""Restricted pages" requires login to see external content view url"
**Steps to reproduce:**

1. In Alloy site, create a container page which is NOT public (visible to Admin or Editor only)
2. Create another page is a child of container page in step 1
3. Create a **view** link in "External review links" section
4. Copy the generated link and open it in incognito mode
5. Browser redirects to login page

![image](https://user-images.githubusercontent.com/14576574/188

[2022-09-07 11:37] cezaryzysk commented on #217
Hey @barteksekula sorry for the delay,
In this test project everything looks fine:
![image](https://user-images.githubusercontent.com/86838418/188869210-6521f024-ff38-4b9c-a4c9-7d5d9ac6b03d.png)
But I tested this plugin also for another project with .net framework and everything worked fine. The problem is only in this one project, do you have any idea what it could be?

[2022-09-16 08:19] nguyenminhvuong commented on #218
@barteksekula: How long will this bug be fixed? Or can you tell me a solution, I will try to do it. Sorry for disturb, my customer is asking about the progress

[2022-09-19 20:18] barteksekula commented on #218
@nguyenminhvuong hopefully soon, I've just created a PR.

[2022-09-19 20:20] barteksekula commented on #213
@solita-kpetrov Is the issue you described the same as in #218 ?

[2022-09-20 06:06] solita-kpetrov commented on #213
@barteksekula Yes, looks the same. And we fixed it more or less the same way as in PR.

[2022-09-21 12:39] #218 closed

[2022-09-21 17:43] barteksekula commented on #218
Fixed in https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.2.0

[2022-09-21 17:44] barteksekula commented on #213
@solita-kpetrov solved in https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.2.0

[2022-09-26 03:05] nguyenminhvuong opened #221 "View & Edit link shows English content version when creating in another language version"
**Steps:**

- Create a page in English as a master language
- Create another language version of the page
- Create an external view or edit URL (in another language)
- Open it

**Expected:**

External view or edit URL show content of current language version

**Actual:**

It shows the content of the English version.

**Installed packages:**
Episerver.Labs.LanguageManager - 5.1.1
Episerver.CMS.UI -

[2022-10-10 21:06] daniel-isaacs commented on #210
I see the same issue with some images in Foundation. The encoded url doesn't seem to be a problem, but the query string is -- it ends up with two "?" in the URL and the second one gets treated as a literal "?", which ends up at a 404. However, I don't know if it's something that can be fixed in the add-on:

For example, the header image breaks in external view/review links, because the image path

[2022-10-10 21:16] daniel-isaacs commented on #204
Unless I'm mistaken, isn't step 5 is going to replace the image in the system (and, using default setup, automatically publish the new version of that image file)? So, the external review page might be showing a cached version of that file (do you have Cloudflare set up, for example?). But in reality, I think the new image might already be in-use on the published version of the site.

I think the

[2022-10-11 09:33] ravindra-dange commented on #204
Hello Isaacs,

If we replace image by creating Project, the image is uploaded in Draft mode, this replace image is visible in Draft mode once we publish the image then it replaces the existing Live image.

We do not have Cloudflare, The screenshot is taken from Alloy project from my local Laptop.
The below image shows Draft mode of image.

Draft Image
https://user-images.githubusercontent.com/9392

[2022-10-25 12:01] barteksekula commented on #221
available in https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.2.1

[2022-10-25 12:03] #217 closed

[2022-10-25 12:03] #213 closed

[2022-10-25 12:05] barteksekula commented on #216
@robert-bondy @AlexandraSerzhanina I think I get it. Can you please rewrite this bug's description so it describes the actual problem? Right now it's something about failure to run the sample site (not sure why though).

Also at some point I will need to stop development on legacy .net framework. Do you plan to move to .net core anytime soon?

[2022-10-25 12:09] barteksekula commented on #212
closing due to inactivity

[2022-10-25 12:09] #212 closed

[2022-10-26 13:17] robert-bondy commented on #216
@barteksekula Alexandra has updated this ticket's title to better represent the issue at hand. Please let me know if you need additional details / information to move forward.

Also, the client we work on behalf of is in the midst of a content migration off of Optimizely and will not be upgrading to cms12, and thus won't be upgrading to .net core anytime soon. We (and our client) understand that b

[2022-11-04 02:30] nguyenminhvuong commented on #221
@barteksekula I tested on the Alloy site. The issue still occurs. Could you please check again

[2022-11-14 13:25] barteksekula commented on #221
The bug only happened when PinSecurity was turned on, I think that was the reason why we were not able to communicate properly.
Anyway, if that was the case for you then the issue was fixed in both .net core https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.2.2 and in .net framework https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=0.9.2

[2022-11-14 15:18] barteksekula commented on #216
You will still be able to use .net framework version without any issues. Occasional bugfixes like this one might happen from time to time as well :)

[2022-11-16 20:15] michelleqy opened #223 "EPiBootstrapArea within external review link issues"
Hi,

Want to know why the EPiBootstrapArea plug-in does not work with the external review link?
I created an external review link for one page, when that link is rendered, the forms are not displaying as they should (columns). Those plugins don't seem to work nicely with each other. Is there a way to make them work together?

Thanks :)

[2022-11-18 10:56] AlexandraSerzhanina commented on #216
@barteksekula
after update to 0.9.2 version the issue is still reproduces in case user is not logged in and page is under PIN code.

How it can be reproduced:

- Create external review link - that page should contain a link to another DXP site
- Set PIN code for that link
- Open external review link, input PIN code
- Navigate to another DXP site - there will be one more request for PIN code, and t

[2022-11-18 14:32] barteksekula commented on #216
I dont understand, what do you mean by the fact that the page should have a link to another DXP site?

[2022-11-18 14:34] barteksekula commented on #216
maybe you could record a video of that?:)

[2022-11-26 10:48] barteksekula commented on #216
you are not responding so I assume the issue is fixed.
this is how it works for me in the default Alloy

https://user-images.githubusercontent.com/1321664/204084917-812769b4-4165-4422-bfb4-579ace629c8c.mp4

[2022-11-27 17:48] #209 closed

[2022-11-28 09:31] AlexandraSerzhanina commented on #216
@barteksekula sorry, was not able to answer earlier.
Here is a video with an example of the issue. In incognito mode after pin code is entered, user is not taking to requested page and redirecting to initial page.

https://user-images.githubusercontent.com/72210943/204242110-8c77f55c-e0c2-4685-b5bc-e99b2ed0cd32.mp4

[2022-11-28 11:28] barteksekula commented on #216
Can you please show me how you defined the link to `Page2` ?
We only support linking between project items like this if you use html helpers to render the properties:

The link to your start page 2 should be like this:
![image](https://user-images.githubusercontent.com/1321664/204266169-2b8f93b7-24f8-4e8b-827b-24bfd3a7394f.png)

But in your case the `previewGenerated` is not there.
Please look how

[2022-11-28 11:47] barteksekula commented on #209
Support added in https://nuget.optimizely.com/package/?id=Advanced.CMS.AdvancedReviews&v=1.3.0

[2022-11-28 11:54] AlexandraSerzhanina commented on #216
We are using rich text editor property with link to another page:

![image](https://user-images.githubusercontent.com/72210943/204270103-2d64fb4d-c43d-4a0a-bb0c-64678cfefb1c.png)

![image](https://user-images.githubusercontent.com/72210943/204270286-74109a75-3d22-41ea-a42f-dda83cb27cdc.png)

![image](https://user-images.githubusercontent.com/72210943/204271087-ce96dc09-4013-4a3c-884d-e2175b7d15d3.

[2022-11-28 20:08] barteksekula commented on #216
Ok, now I finally understand the problem ; )
So the problem is that we use claims/cookie host-based authentication when using
pin security and can only support project items in a single site (under a single hostname).

Unfortunately it is not possible to support a secured (with pin code) preview for a project that spans across multiple sites on different hostnames. However we will at least render

[2022-11-28 22:11] barteksekula commented on #223
@michelleqy Can you provide more data? What versions of CMS, advanced reviews, epibootstrap etc., what framework net4, 5 or 6?
There is https://nuget.optimizely.com/package/?id=TechFellow.Optimizely.AdvancedContentArea in beta
Have you tried with this one?

[2022-11-28 23:43] michelleqy commented on #223
Sure. My issue is regarding the forms.

Form within normal view (it's how it should look in the external review link):
![image](https://user-images.githubusercontent.com/37880362/204402903-0a7c9688-0e45-4f21-ad99-81b89ae8e62c.png)

Form within external review link:
![image](https://user-images.githubusercontent.com/37880362/204402943-2f9a015e-ca64-4d8e-9006-cd6394ce85d1.png)

- Episerver 11.20.14.